{% extends 'base.html' %}
{% load static %}
{% block title %}Nos abonnements {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Gouvernance.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Nos abonnements </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> AlBoraq</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Voyagez_meilleur_prix' %}"><i class="fa fa-home"></i> Tarifs et refuction</a></li>
              <li class="breadcrumb-item active" aria-current="page">Nos abonnements </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
        <blockquote cite="" class="dento-blockquote d-flex">
            <div class="icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="text">
              <h5>Que ce soit en 1ère ou en 2ème classe, profitez du confort à bord de nos trains et rentabilisez vos voyages !</h5>
            </div>
            
          </blockquote>
          <h1><p><b>
            Que vous soyez professionnel ou étudiant, navetteur ou voyageur fréquent, Al Boraq vous offre l’abonnement adapté à vos besoins.
          </b></p></h1>
      
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Dima-carte.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>ABONNEMENT AL BORAQ DIMA</h3>
              <div class="line"></div>
            </div>
            <p>Pour vos innombrables allers retours, l’abonnement AL BORAQ DIMA est la solution adéquate à vos déplacements à l’infini</p>

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
           
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2></h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
        <h1><p><b>
            Durée de validité
           
          </b></p></h1>
          <h1><p><b>
            L’abonnement AL BORAQ DIMA s’adapte à vos besoins de voyage et vous offre un abonnement mensuel, trimestriel, semestriel et annuel. 
          </b></p></h1>
      <h1><p><b>
        Prix d’abonnement
      </b></p></h1>
      <h1><p><b>
        Les prix proposés varient selon l’axe, le confort et la périodicité choisis, ils sont comme suit :
      </b></p></h1>
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Dima-tarif.jpg' %}" alt="">
                <img src="{% static 'website/img/bg_img/Dima-tarif-prox.jpg' %}" alt="">
                
              <div >
            
        </div>
            </div>
            <h1><p><b>
                Bon à savoir
              </b></p></h1>
              <p>> Quelle que soit la durée de votre abonnement AL BORAQ DIMA, le parking vous est offert.</p>
              <p>> La carte d’abonnement « AL BORAQ DIMA » permet une économie allant jusqu’à 50% de vos frais de déplacement.</p>
              <p>> Cet abonnement vous offre une souplesse pour vos voyages, une libre circulation et un nombre illimité de déplacements 
                dans l’axe choisi et dans les parcours intermédiaires à bord d’Al Boraq et aussi à bord des Trains Navettes Rapides et des 
                Trains Al Atlas circulant sur votre axe choisi.</p>
              <p>> Avant d’emprunter le train souhaité, Les détenteurs de la carte « AL BORAQ DIMA » sont amenés à réserver leurs 
                places gratuitement en ligne ou en gare. A défaut, la place assise n’est pas garantie.</p>
          </div>
          
        </div>
      
        <div class="row align-items-center">
            <!-- About Us Thumbnail -->
            <div class="col-12 col-md-6">
              <div class="about-us-thumbnail mb-50">
                <img src="{% static 'website/img/bg_img/Fifty-carte.jpg' %}" alt="">
              </div>
            </div>
            <!-- About Content -->
            <div class="col-12 col-md-6">
              <div class="about-us-content mb-50">
                <!-- Section Heading -->
                <div class="section-heading">
                  <h3>ABONNEMENT AL BORAQ FIFTY</h3>
                  <div class="line"></div>
                </div>
                <p>Pour vos voyages d’affaires fréquents, profitez de l’offre d’abonnement AL BORAQ FIFTY 
                    qui vous permet une réduction de 50% sur vos billets quel que soit le train emprunté.</p>
    
                <!-- Single Skills Area -->
    
                <!-- Single Skills Area -->
               
              </div>
            </div>
          </div>
        </div>
        <h1><p><b>
            Durée de validité
           
          </b></p></h1>
          <h1><p><b>
            L’abonnement AL BORAQ FIFTY est disponible en durée de 3 mois, 6 mois ou de 12 mois.
          </b></p></h1>
      <h1><p><b>
        Prix d’abonnement
      </b></p></h1>
      <h1><p><b>
        Les prix proposés varient selon l’axe, le confort et la périodicité choisis, ils sont comme suit :
      </b></p></h1>
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Fifty-tarif.jpg' %}" alt="">
           
                
              <div >
            
        </div>
            </div>
            <h1><p><b>
                Bon à savoir
              </b></p></h1>
              <p>> La carte « AL BORAQ FIFTY » vous offre la gratuité du parking tout au long de la durée de votre abonnement.</p>
              <p>> La carte d’abonnement « AL BORAQ FIFTY » vous fait économiser plus 50% de vos frais de déplacement.</p>
              <p>> Cet abonnement est valable à bord d’Al Boraq pour tous les trains circulant sur l’axe choisi ainsi que sur 
                les parcours intermédiaires à l’intérieur dudit axe.</p>
              
                <h1><p><b>
                    Procédure générale
                  </b></p></h1>
                  <p>Remplir le formulaire dans la gare la plus proche, et fournir les pièces suivantes :</p>
                  <p>> Photocopie de la CIN ou pièce équivalente</p>
                  <p>> 1 photo</p>
                  <p>> Garantie : 50 DH</p>
          </div>
          
        </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}