{% extends 'base.html' %}
{% load static %}
{% block title %}Reservation{% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Gouvernance.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Reservation</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> AlBoraq</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Informer_et_acheter' %}"><i class="fa fa-home"></i> Services</a></li>
              <li class="breadcrumb-item active" aria-current="page">Reservation</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Réservez et gagnez en tranquillité !</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    
      <h3><p><b>
        Avec Al Boraq, une nouvelle manière de voyager vous est désormais proposée !  
      </b></p></h3>
      <h3><p><b>
        La réservation en 1ère et 2ème classe en est la clé. Elle vous permet de profiter des meilleurs prix, d’un confort optimal et de garantir une place assise à bord du train que vous souhaitez.  
      </b></p></h3>
      <h3><p><b>
        Pensez donc à planifier votre voyage et à acheter votre billet à l’avance. Les ventes sont ouvertes jusqu’à 3 mois avant le départ de votre train.  
      </b></p></h3>
      <h3><p><b>
        Une fois votre billet acheté, nous vous invitons à vérifier :  
      </b></p></h3>
      <p>
        > La date et l’heure de votre voyage  
      </p>
      <p>
        > Les gares de départ et d’arrivée  
      </p>
      <p>
        > Le tarif et la classe  
      </p>
      <p>
        > La voiture et le numéro de votre place  
      </p>
      <h3><p><b>
        Si vous constatez une erreur quelconque, nous vous invitons à procéder immédiatement, à l’échange de votre titre de transport.  

        
      </b></p></h3>
      <h3><p><b>
        Avant d’accéder au quai, vérifiez le positionnement de votre voiture et placez-vous à proximité du repère qui la localise sur le quai.
      </b></p></h3>
      </div>
      
    
      
      </div>
    </div>
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
              <h2>Le choix de l’emplacement</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
      
        <h3><p><b>
            Pour choisir votre placement lors de l’achat, c’est désormais très simple avec Al Boraq. 
        </b></p></h3>
        <h3><p><b>
            Le placement sera attribué en fonction de votre préférence et des disponibilités offertes.  
        </b></p></h3>
        <h3><p><b>
            Plusieurs types de placement vous sont proposés :  
        </b></p></h3>
        
        <p>
          > Fenêtre : emplacement côté fenêtre
        </p>
        <p>
          > Couloir : emplacement côté couloir
        </p>
        <p>
          > Carré : 4 sièges face à face (Seconde classe)
        </p>
        <p>
          > Club 4 : 4 sièges face à face (Première classe)
        </p>
        <p>
            > Les gares de départ et d’arrivée  
        </p>
          <p>
            > Les gares de départ et d’arrivée  
        </p>
          </p>
          <p>
            > Duo côte à côte : 2 sièges côte à côte (Première et Seconde classe)
          </p>
          <p>
            > Espaces Famille : quatre places face-à face isolées du reste de la voiture.
          </p>
        </div>
        
      
        
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}