{% extends 'base.html' %}
{% load static %}
{% block title %}Service en gars{% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Gouvernance.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Service en gars</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> AlBoraq</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Informer_et_acheter' %}"><i class="fa fa-home"></i> Services</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service_en_gars</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Avec Al Boraq…le voyage commence en gare!</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      
      <h3><p>
        Outres les services proposés aujourd’hui dans l’ensemble des gares ONCF, Al Boraq dessert 4 grandes gares qui constituent de véritables pôles d’échange s’intégrant harmonieusement dans le paysage urbanistique des villes.
      </p></h3>
      <h3><p>
        On y retrouve toutes les commodités de base :       
        </p></h3>
        <h1><p><b>
            Accessibilité
          </b></p></h1>
      <h3><p>
        Les gares Grande Vitesse sont connectées aux différents modes de transport en commun (stations de bus, taxis…) avec des parkings capacitaires et des dépose-minutes.
      </p></h3>
      <h1><p><b>
        Accueil et information
      </b></p></h1>
      <h3><p>
        Des points d’accueil à l’entrée sont à votre disposition toute la journée. Vous y recevrez la meilleure écoute et l’assistance nécessaire au bon déroulement de votre voyage. Des moniteurs d’affichage électronique des horaires des trains et de nombreux équipements à la pointe de la technologie vous permettent de vous orienter et de vous informer
      </p></h3>
      <h1><p><b>
        Accès des Personnes à Mobilité Réduite
      </b></p></h1>
      
      <h3><p>
        Les nouvelles gares Grande Vitesse sont pensées et adaptées aux besoins spécifiques des personnes à mobilité réduite. Des rampes d’accès aux parkings et aux passages souterrains, des places de stationnement de voitures, des guichets spéciaux et des sanitaires dédiés,… sont à leur disposition pour faciliter leur accès.
      </p></h3>
      <h1><p><b>
        Connectivité
      </b></p></h1>
      <h3><p>
        Un service de Wi-Fi gratuit vous est proposé ainsi que des points d’alimentation électrique pour vos équipements électroniques.
      </p></h3>
      <h1><p><b>
        Lounge Al Boraq, un espace Privilège
      </b></p></h1>
      <h3><p>
        Le Salon Voyageurs Al Boraq, votre espace privilège ouvre ses portes le 25/06 après sa fermeture en réponse aux mesures sanitaires prises pour faire face à la pandémie Covid 19.
      </p></h3>
      <h3><p>
        Le Salon voyageur Al Boraq en gare est accessible à tous nos clients 1ère classe à bord des trains directs Al Boraq ou via correspondance.
      </p></h3>
      <h1><p><b>
        Quels services sont proposés dans le salon voyageurs Al Boraq :
      </b></p></h1>
      <p>
        > Un espace confortable ;
      </p>
      <p>
        > Un accès wifi gratuit dans le salon ;
      </p>
      <p>
        > Des prises pour pouvoir recharger vos terminaux mobiles ;
      </p>
      <p>
        > Un écran TV diffusant l’information sur nos offres et notre actualité ;
      </p>
      <p>
        > Des moniteurs relayant les informations relatives aux départs et arrivées des trains.
      </p>
      <p>
        > Des bouteilles d’eau ;
      </p>
      <p>
        > Une sélection de boissons chaudes et froides.
      </p>
      <h1><p><b>
        Ou trouver les Salons Voyageurs Al Boraq ?
      </b></p></h1>
      <p>
        > Casa Voyageurs ;
      </p>
      <p>
        > Rabat Agdal ;
      </p>
      <p>
        > Kenitra ;
      </p>
      <p>
        > Tanger ville.
      </p>
      </div>
      
    
      
      </div>
    </div>
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Al-boraq-lounge.jpg' %}" alt="">

              <div class="line"></div>
            </div>
          </div>
        </div>
      
        
        </div>
        
      
        
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}