{% extends 'base.html' %}
{% load static %}
{% block title %}Service a Bord{% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/1profile_de_loncf.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Service a Bord </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> AlBoraq</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Informer_et_acheter' %}"><i class="fa fa-home"></i> Services</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service a Bord</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            
            <h1><p><b>
                UN VOYAGE GUSTATIF SIGNE CHEF KHADIJA !
              </b></p></h1>
              <h3><p>
                La carte « Chhiwat mama » suit le rythme des saisons et propose 

                des produits savoureux pour une cuisine gourmande et copieuse.
                
                Comme les délices de la Mama, nos recettes ont été pensées pour
                
                vous, faites maison et préparées avec amour. Une bouchée de ces
                
                délices est un moment de plaisir, de saveurs et de goûts.              </p></h3>
              <h1><p><b>
                La carte « Chhiwatt mama » le goût de la cuisine traditionnelle.
              </b></p></h1>
              
              <h3><p>
                La carte « Chhiwat mama » vous propose des nouvelles recettes aux saveurs locales et de saison. 
                Les plats de la carte sont imaginés à partir de produits savoureux pour une cuisine gourmande et copieuse.              </p></h3>
                <h3><p>
                    Notre carte de restauration a été soigneusement élaborée pour offrir une expérience culinaire estivale et gourmande. 
                    Que vous soyez amateur de plats légers et frais ou de saveurs épicées, notre carte propose une variété d'options pour satisfaire tous les palais.              </p></h3>
              <h1><p><b>
                Un voyage gustatif signé Cheffe Khadija !
              </b></p></h1>
              <h3><p>
                Découvrez la nouvelle recette originale de la cheffe Khadija, égérie de la carte « Chhiwat mama » . Inspirée par les saveurs exquises de la cuisine marocaine, 
                Cheffe Khadija a mis tout son talent et sa créativité pour donner vie à un sandwich unique en son genre : le sandwich au poulet pastilla.
              </p></h3>
              <h3><p>
                La pastilla, ce met traditionnel marocain, est une véritable union de saveurs. Cheffe Khadija a puisé dans son héritage culinaire pour 
                réinterpréter ce plat emblématique sous la forme d'un sandwich gourmet qui comblera vos papilles.
              </p></h3>
              <h1><p><b>
                La carte « Chhiwat Mama » propose une offre variée avec des recettes gourmandes aux saveurs marocaines, fraîchement préparées chaque jour et selon les saisons.
              </b></p></h1>
              <h3><p>
                Parmi les nouvelles recettes, vous découvrirez des plats audacieux et inventifs, qui marient subtilement les saveurs et les textures. Des associations surprenantes 
                de goûts et de couleurs viendront éveiller vos sens. Des épices, des herbes aromatiques fraîches et des sauces savoureuses apportent une touche d'originalité à nos plats, tout en respectant l'équilibre nutritionnel.
              </p></h3>
              <h1><p><b>
                Une histoire de café, car les voyages en train sont propices aux pauses détente, nous vous proposons une sélection de café illy.
              </b></p></h1>
              <h3><p>
                Le café illy est un assemblage savant de 9 des meilleures variétés d'Arabica que la terre puisse offrir, garantissant une qualité optimale, un goût équilibré et inimitable, 
                tasse après tasse. Dans plus de 140 pays, le logo illy est une promesse de qualité et annonciateur d'un café aux arômes intenses.              </p></h3>
            
                <h1><p><b>
                    Une nouvelle carte imaginée pour les amateurs de bonne cuisine.                  </b></p></h1>
                  <h3><p>
                    Les recettes de la carte « Chhiwat mama » sont des créations innovantes, qui allient tradition et modernité. 
                    Le savoir-faire et la passion pour la cuisine se reflètent dans le choix des plats proposé à bord de la voiture cafétéria.             </p></h3>
            <blockquote cite="" class="dento-blockquote d-flex">
              <div class="icon">
                <i class="fa fa-quote-left"></i>
              </div>
              <div class="text">
                <h5>Comme les délices de la Mama, nos recettes ont été pensées pour vous, faites maison et préparées avec amour. Une bouchée de ces délices est un moment de plaisir, de saveurs et de goûts.</h5>
              </div>
              
            </blockquote>
                
            <img class="w-100" src="{%  static 'website/img/bg_img/chhiwat3.jpg' %}" alt="">
            <h1><p><b>
                Accès à bord
              </b></p></h1>
              <h3><p>
                Avant l’embarquement, nos collaborateurs vous accueillent, vérifient votre titre de transport et vous orientent vers votre voiture.
                En gare d’origine, l’accès aux quais est possible 20 minutes avant le départ des trains Al Boraq.
                Afin de vous assurer un départ à l’heure des trains Al Boraq , vous devez vous présenter au quai au plus tard 2 minutes avant
                l’heure du départ. Passé ce délai, l’accès aux quais n’est plus permis.
                Nos collaborateurs à bord veillent à votre confort et au bon déroulement de votre voyage.              </p></h3>
              <h1><p><b>
                Espace voyageurs
              </b></p></h1>
              
              <h3><p>
                LQuel que soit l’espace que vous avez choisi, en 1ère Classe ou en 2ème Classe, vous voyagez dans un cadre agréable et confortable : 
                éclairage tamisé, air conditionné, suspension pneumatique, sièges individuels avec appuie-tête, repose-pieds,tablettes rabattables et prises de courant électriques.       </p></h3>
                <h3><p>
                    En 1ère classe, vous bénéficiez d’un confort optimal avec des sièges spacieux, inclinables et des lampes individuelles. Tout est pensé pour que vous puissiez vous détendre, travailler ou simplement profiter de votre voyage.           </p></h3>
              <h1><p><b>
                Espace Bagages
              </b></p></h1>
              <h3><p>
                A bord d’Al Boraq, vous disposez d’un espace bagages dans les emplacements dédiés : au-dessus des sièges et à l’extrémité et au milieu de chaque voiture pour vos bagages les plus volumineux.
              </p></h3>    
        </div>
            
            
         
        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

           
            

            <!-- Single Widget Area -->
            <div class="single-widget-area adds-widget">
              <a ><img class="w-100" src="{%  static 'website/img/bg_img/chhiwatmamacarte.jpg' %}" alt=""></a>
              
            </div>
            <div class="single-widget-area adds-widget">
                <a ><img class="w-100" src="{%  static 'website/img/bg_img/chhiwat2.jpg' %}" alt=""></a>
                
              </div>
            <div class="single-widget-area adds-widget">
                <a ><img class="w-100" src="{%  static 'website/img/bg_img/chhiwat1.jpg' %}" alt=""></a>
                
            </div>
            <div class="single-skills-area mt-30">
                <a href="https://www.oncf.ma/fr/content/download/90464/2103678/version/1/file/Nouvelle%20carte%20%202023.pdf" class="btn dento-btn booking-btn">Nouvelle carte 2023</a>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->
{% endblock %}