{% extends 'base.html' %}
{% load static %}
{% block title %}Voyager à petit prix au tarif YALLA AL BORAQ  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Gouvernance.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Voyager à petit prix au tarif YALLA AL BORAQ </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> AlBoraq</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Voyagez_meilleur_prix' %}"><i class="fa fa-home"></i> Tarifs et refuction</a></li>
              <li class="breadcrumb-item active" aria-current="page">Voyager à petit prix au tarif YALLA AL BORAQ  </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
        <blockquote cite="" class="dento-blockquote d-flex">
            <div class="icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="text">
              <h5>La vente des billets est ouverte 3 mois à l’avance. Plus vous anticipez vos voyages, plus vous bénéficiez de tarifs attractifs !</h5>
            </div>
            
          </blockquote>
         
      
      
      
        
    
        </div>
      
        
        
      <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                <h2>
                    Vous voyagez 1 à 2 fois par an ? </h2>
                <div class="line"></div>
              </div>
            </div>
          </div>
              <center><h1><p><b>
                Voyagez et profitez d'avantages au tarif AL BORAQ SEMI FLEX
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Programmez vos voyages à l’avance en gardant une possibilité de changer d’avis !  </h5>
                  <h5>Votre billet AL BORAQ SEMI FLEX est échangeable gratuitement une fois jusqu’à 3 minutes avant 
                    le départ de votre train  (30 minutes après en gare d’origine de votre voyage).  </h5>
                    <h5>Il est remboursable avec une retenue de 50% avant le départ du train et non remboursable après le départ.   </h5>
                </div>
                
              </blockquote>





              <center><h1><p><b>
                Voyagez a votre rythme au tarif AL BORAQ FLEX
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Planifiez votre voyage à l’avance en étant libre de le modifier à volonté.  </h5>
                  <h5>Votre billet AL BORAQ  FLEX est échangeable gratuitement en illimité, selon
                     les disponibilités jusqu’à 3 minutes avant le départ de votre train (30min après en gare d’origine de votre voyage). </h5>
                     <h5>En cas d’écart de prix, vous payerez la différence ou elle vous est restituée. 
                        Il est remboursable sans aucune retenue jusqu’à la veille du voyage et avec une retenue de 20% le jour du voyage.  </h5>
                </div>
                
              </blockquote>



              <center><h1><p><b>
                Voyagez a petits prix au tarif AL BORAQ FLEX
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Profitez de ce tarif et planifiez votre voyage en toute sérénité </h5>
                  <h5>Les tickets à ce tarif sont en vente à partir de 3 mois à l’avance. 
                    Anticipez votre achat suffisamment à l’avance pour profiter de ce tarif  </h5>
                  <h5>Ce billet est non échangeable, non remboursable.</h5>
                </div>
                
              </blockquote>
              
              <div class="col-12">
                <div class="section-heading text-center">
                  <h2>
                      Vous voyagez en famille ? </h2>
                  <div class="line"></div>
                </div>
              </div>
              <center><h1><p><b>
                Tarif ENFANT, un tarif pour familles!
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Votre enfant a moins de 15 ans ?</h5>
                  <h5>Prix fixe : 80 DH en 1ère, 50 DH en 2ème classe, sur tous les trains AL BORAQ, quelles que soient les dates. </h5>
                  <h5> Pour bénéficier de ce tarif, l’enfant doit être accompagné d’un adulte (parents ou amis).</h5>
                  <h5> 4 enfants maximum par adulte</h5>
                  <h5>Les conditions d’après-vente de ce tarif héritent de celles du tarif acheté par l’adulte accompagnant.</h5>
                  <h5>NOTRE ASTUCE : Votre enfant voyage gratuitement s’il a moins de 4 ans et n’occupe pas de siège</h5>
                </div>
                
              </blockquote>



              <div class="col-12">
                <div class="section-heading text-center">
                  <h2>
                      Vous voyagez trois fois par an et plus ? </h2>
                  <div class="line"></div>
                </div>
              </div>
              <center><h1><p><b>
                Carte ETUDIANT -30% garantis
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Vous êtes étudiant ? vous avez moins de 26 ans ?  </h5>
                  <h5>Demandez votre carte étudiant  et profitez d’une réduction garantie de 
                    30% sur tous les trains AL BORAQ en 2ème classe et ce quelques soient vos dates d’achat.  </h5>
                  <h5> NOTRE ASTUCE : Achetez votre carte étudiant au plus tard la veille de vos 26 ans et elle sera valable encore 1 an.  </h5>
                </div>
                
              </blockquote>
              <center><h1><p><b>
                Carte Jeune -15% garantis
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>16 à 30 ans   </h5>
                  <h5>Profitez des billets Jeune Semi-Flex et Jeune Flex qui vous garantissent 15% de réduction sur 
                    tous les trains AL BORAQ  en 1ère et 2ème classe, quelles que soient vos dates d’achat.   </h5>
                  <h5> NOTRE ASTUCE : Achetez votre carte jeune au plus tard la veille de vos 30 ans et elle sera valable encore 1 an.   </h5>
                </div>
                
              </blockquote>
              <center><h1><p><b>
                Carte Senior -15% garantis
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Dès 60 ans    </h5>
                  <h5>Voyagez en toute sérénité avec des billets Senior Semi-Flex  et Senior Flex et bénéficiez de 15% de réduction sur tous 
                    les trains AL BORAQ, en 1ère et 2ème classe quelles que soient vos dates de voyage. </h5>
                </div>
                
              </blockquote>



              <div class="col-12">
                <div class="section-heading text-center">
                  <h2>
                    Vous voyagez pour des raisons professionnelles ? </h2>
                  <div class="line"></div>
                </div>
              </div>
              <center><h1><p><b>
                Vous voyagez pour des raisons professionnelles ? 
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>AL BORAQ vous propose les meilleures conditions de confort, et des solutions tarifaires 
                    adaptées vous garantissant souplesse et services exclusifs.   </h5>
                  <h5>Tarif Al Boraq Flex, souplesse garantie pour les Pros !  </h5>
                  <h5> Parce qu’un rendez-vous peut être annulé ou décalé, optez pour le tarif AL BORAQ FLEX et bénéficiez 
                    d’un échange illimité gratuitement et d’un remboursement sans retenue jusqu’à la veille de votre voyage 
                    (J-1) et avec une retenue de 20% le jour de votre voyage avant le départ du train.  </h5>
                </div>
                
              </blockquote>



              <div class="col-12">
                <div class="section-heading text-center">
                  <h2>
                    Vous voyagez en groupe ? </h2>
                  <div class="line"></div>
                </div>
              </div>
              <center><h1><p><b>
                Vous voyagez en groupe ? 
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Tarif Groupes, des prix réduits!  </h5>
                  <h5>Voyagez en groupe, dès 9 personnes, et profitez d’une réduction de 15% sur les prix proposés dans tous les trains AL BORAQ à l’ouverture des ventes.   </h5>
                  <h5> Contactez votre gare ONCF pour demander un devis et connaitre les conditions d’échange et de remboursement. </h5>
                </div>
                
              </blockquote>



              <div class="col-12">
                <div class="section-heading text-center">
                  <h2>
                    Vous voyagez en fauteuil roulant ? </h2>
                  <div class="line"></div>
                </div>
              </div>
              <center><h1><p><b>
                Vous voyagez en fauteuil roulant ? 
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Tarif «WOULOUJ», la 1ère classe au prix de la 2ème</h5>
                  <h5>AL BORAQ vous surclasse et vous offre le tarif WOULOUJ sur toutes ses lignes. Ce tarif vous permet d’emprunter la 1ère 
                    classe au prix de la 2ème classe.</h5>
                  <h5> Il est possible de le commander en appelant le 2255 jusqu’à la veille de votre voyage.</h5>
                  <h5>Vous pouvez l’échanger jusqu’à la veille du départ. Il est remboursable à 50% avant le départ, mais non remboursable après.</h5>
                </div>
                
              </blockquote>






















                      
          </div>
          
        </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}