{% extends 'base.html' %}
{% load static %}
{% block title %}Voyagez au meilleur prix !  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Gouvernance.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Voyagez au meilleur prix !  </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> AlBoraq</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Voyagez_meilleur_prix' %}"><i class="fa fa-home"></i> Tarifs et refuction</a></li>
              <li class="breadcrumb-item active" aria-current="page">Voyagez au meilleur prix !  </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
        <blockquote cite="" class="dento-blockquote d-flex">
            <div class="icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="text">
              <h5>Pour vos voyages professionnels ou de loisirs, seuls, en famille ou en groupe, Al Boraq vous propose des tarifs adaptés à vos besoins ! </h5>
            </div>
            
          </blockquote>
          <h1><p><b>
            Pour une même destination, le tarif de votre billet peut varier selon :  
          </b></p></h1>
      
      
      
        
    <div class="container">
        
            
            
              <p>> La classe que vous choisissez : 1ère ou 2ème  </p>
              <p>> La date et l’heure de votre voyage : en voyageant dans  des trains de faible affluence ou d’affluence normale,  
                vous pourrez bénéficier de prix plus avantageux qu’en  voyageant dans des trains circulant en période de forte  affluence. </p>
              <p>> La date d’achat : plus vous anticipez l’achat de votre   billet,  moins vous payez !  </p>
              <p>> La flexibilité que vous souhaitez et les conditions  d’échange et de remboursement de votre billet.    </p>
              <p>> La carte de réduction dont vous disposez.  </p>
          </div>
          <blockquote cite="" class="dento-blockquote d-flex">
            <div class="icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="text">
              <h5>C’est la grande nouveauté, pensez-y !  </h5>
            </div>
            
          </blockquote>
        </div>
      
        
        
      <div class="container">
        
            <h1><p><b>
                Choisissez le prix qui vous convient en tenant compte de ces critères 
              </b></p></h1>
              <h1><p><b>
                La gamme tarifaire Al Boraq vous propose 3 tarifs qui diffèrent selon le niveau de flexibilité que vous choisissez :  
              </b></p></h1>

              <center><h1><p><b>
                Un tarif de base semi-flex
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Échangeable gratuitement une fois jusqu’à 3 minutes avant le départ du train (30 minutes après dans la gare d’origine du voyage)   </h5>
                  <h5>Remboursable avec une retenue de 50% avant le départ du train</h5>
                </div>
                
              </blockquote>





              <center><h1><p><b>
                Un tarif de flexible
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Echangeable gratuitement en illimité jusqu’à 3 minutes avant le départ du (30 minutes après dans la gare d’origine de votre voyage).   </h5>
                  <h5>Remboursable sans aucune retenue jusqu’à la veille du voyage et avec une retenue de 20% le jour du voyage avant le départ du train.  </h5>
                </div>
                
              </blockquote>



              <center><h1><p><b>
                Un tarif Yalla non flexible
              </b></p></h1></center>
            
              <blockquote cite="" class="dento-blockquote d-flex">
                <div class="icon">
                  
                </div>
                <div class="text">
                  <h5>Non échangeable et non remboursable</h5>
                </div>
                
              </blockquote>
              
                <h1><p><b>
                    En 2ème classe 
                  </b></p></h1>
                  <p>• Pour les tarifs Semi-Flex et Flex, trois niveaux de prix sont proposés selon le type de train que vous choisissez :  </p>
                  <p>> Train de faible affluence (hors pointe)   </p>
                  <p>> Train d’affluence normale (standard) </p>
                  <p>> Train de pointe.  </p>
                  <p>• Les billets au prix de base (Semi-Flex) sont en vente jusqu’à la veille de votre voyage. Si vous les achetez le jour de votre  voyage, vous payez 10% de plus  </p>
                  <p>• Si vous souhaitez plus de flexibilité d’échange et de remboursement, optez pour le billet flexible en payant  

                    20% de plus par rapport au billet Semi-flexible  </p>
                    
                    <h1><p><b>
                        En 1ère classe
                      </b></p></h1>
                      <p>• Pour les tarifs Semi-Flex et Flex, trois niveaux de prix sont proposés pour un même train qui diffèrent en fonction de son occupation. En fonction de 
                        l’évolution des ventes, les prix des billets augmentent progressivement jusqu’au départ du train. Si vous achetez à l’avance, vous bénéficierez de prix plus attractifs ;</p>
                      <p>• Si vous souhaitez plus de flexibilité d’échange et de remboursement, optez pour le billet flexible en payant  20% de plus par rapport au billet Semi-flexible.  </p>
                      

                      <h1><p><b>
                        Pour les deux classes
                      </b></p></h1>
                      <p>Un Tarif YALLA AL BORAQ est proposé, selon la disponibilité, si le billet est acheté au 
                        plus tard 10 jours avant le voyage.  Ce tarif est non échangeable et non remboursable.</p>
                      
          </div>
          
        </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}