{% extends 'base.html' %}
{% load static %}
{% block title %}Axes stratégiques {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Vision.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Axes stratégiques  </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i>Strategie</a></li>
              <li class="breadcrumb-item active" aria-current="page">Axes_strategique </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Des choix stratégiques tournés vers l’avenir</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            L’évolution de l’environnement social et économique du pays, le développement des grands chantiers du Royaume 
            ainsi que le besoin en matière de mobilité et de déplacements ont guidé l’ONCF dans l’élaboration de sa nouvelle 
            stratégie baptisée “Destination 2025”.
          </b></p></h1>
          <h1><p><b>
            La vision de l’ONCF se décline en cinq axes stratégiques, traçant les orientations du Groupe en vue 
            de satisfaire les attentes de chacune de ses parties prenantes.
          </b></p></h1>

      
     
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Strat2gie-v3.png' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>

    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}