{% extends 'base.html' %}
{% load static %}
{% block title %}Désaturation du carrefour ferroviaire de Casa  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Desaturation-du-carrefour-ferroviaire-de-casa.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Désaturation du carrefour ferroviaire de Casa </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Projet_structurant' %}"><i class="fa fa-home"></i>Grands Projet</a></li>
              <li class="breadcrumb-item active" aria-current="page">Désaturation du carrefour ferroviaire de Casa </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Plus de fluidité et de cadence</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            A travers le carrefour ferroviaire de Casablanca, situé entre les gares de Casa-Voyageurs, Casa-Port, Aïn Sebaa et 
            la gare marchandises de Roches Noires, transite 90% du trafic ferroviaire (plus de 200 trains/jour). Cet échangeur 
            irrigue pratiquement tout le réseau ferré national aussi bien pour les activités voyageurs que marchandises.
          </b></p></h1>
          
          <h1><p><b>
            Néanmoins, ce carrefour est arrivé à saturation présentant des limites d’exploitation engendrant des retards et des 
            perturbations du trafic ferroviaire. Sa dé-saturation s’impose alors à travers un projet structurant réalisé par 
            phases comme présentées ci-dessous.</b></p></h1>
          
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
               <img src="{% static 'website/img/bg_img/Triangle2.png' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
                CONSISTANCE
              </b></p></h1>
            
            <p>> Phase 1 (Ain Sebaa / Casa-Voyageurs) : Remaniement des gares de Ain Sebaa et Casa-Voyageurs, suppression de la bifurcation de Ain Sebaa, construction de deux 
                ponts-rails et pose d’une 4ème voie entre Ain Sebaa et Casa-Voyageurs ainsi que la modernisation des équipements ferroviaires et des installations de signalisation</p>
            <p>> Phase 2 (Casa-Port vers Ain Sebaa et Casa-Voyageurs) : Suppression de la bifurcation, construction de deux sauts de mouton et du pont-rail 
                Moulay Slimane, pose de deux voies supplémentaires entre Ain Sebaa / Casa-Port et Casa-Port / Casa-Voyageurs et d’une 5ème voie 
                dédiée fret entre Casa-Voyageurs et Roches Noires, construction de murs de soutènement, et modernisation des installations de signalisation</p>
            <p>> Autres installations : Construction du nouveau centre de maintenance de Casa-Voyageurs, du site de remisage des Trains à Grande Vitesse et 
                des sous stations à Casa-Voyageurs et Roches Noires, ainsi que d’un poste de sectionnement à Ain Sebaa.</p>

        </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <a href="https://www.youtube.com/watch?v=e40Turrkm1c&ab_channel=ONCF"><img src="{% static 'website/img/bg_img/Tout-sur-les-travaux-du-carrefour-ferroviaire-de-casablanca.png' %}" alt=""></a>
            
        </div>
        <h1><p><b>
            Objectifs 
          </b></p></h1>
          <p>> Fluidifier le trafic et améliorer l’offre ferroviaire</p>
            <p>> Séparer les flux voyageurs et marchandises à travers des voies dédiées</p>
            <p>> Augmenter la capacité des lignes et améliorer la cadence et la régularité des trains</p>
            <p>> Renforcer la sécurité et la sûreté des circulations</p>
                 <img src="{% static 'website/img/bg_img/chiffredes.png' %}" alt="">
      </div>
      
            
     
      <p> </p>
      <p></p>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}