{% extends 'base.html' %}
{% load static %}
{% block title %}Doublement complet Casablanca-Marrakech {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Doublement-complet-casablanca-marrakech.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Doublement complet Casablanca-Marrakech  </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Developpement' %}"><i class="fa fa-home"></i> Developpement</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Projet_structurant' %}"><i class="fa fa-home"></i>Grands Projet</a></li>
              <li class="breadcrumb-item active" aria-current="page">Doublement complet Casablanca-Marrakech</li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Des gains en capacité et temps de parcours</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            Au fil des années, la demande relative au transport ferroviaire sur l’axe Casablanca-Marrakech n’a cessé de progresser avec des taux à deux chiffres, 
            suite au dynamisme socio-économique, touristique et culturel ayant marqué ces deux agglomérations, donnant ainsi lieu à une mobilité accrue. 
          </b></p></h1>
          
          <h1><p><b>
            Afin d’accompagner cette évolution, le projet du doublement complet de cette ligne a été mis en œuvre en deux phases pour relever la 
            capacité de la ligne et améliorer davantage sa compétitivité.</b></p></h1>
          
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Doublement-settat-marrakech-1.jpg' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
                CONSISTANCE
              </b></p></h1>
            <p>> La 1ère phase a été achevée en décembre 2013: renouvellement de 80 km de voie et 140 km de lignes caténaires, doublement de la voie sur 34 km et construction d’une gare fret à Sidi Ghanem</p>
            <p>> La 2ème phase a été achevée en 2018 consiste notamment en un doublement de la totalité de la voie ferrée reliant Settat à Marrakech sur 140 km, l’amélioration du tracé sur 40 km,
                 la construction de deux viaducs d’une longueur de 350 m, la suppression de tous les passages à niveau et leur remplacement par des ouvrages d’art (au nombre de 60) ainsi que 
                 le renforcement et la construction des sous-stations électriques.</p>
           
            
          
          </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <a href="https://www.youtube.com/watch?v=CJbhavTmSB4&ab_channel=ONCF"><img src="{% static 'website/img/bg_img/Un-grand-projet.png' %}" alt=""></a>
            
        </div>
        <h1><p><b>
            Objectifs 
          </b></p></h1>
          <p>> Répondre aux attentes des clients et faire face à la croissance de la demande</p>
            <p>> Réduire le temps de parcours tout en améliorant la qualité du service</p>
            <p>> Augmenter l’offre pour le transport de marchandises</p>
            <p>> Renforcer la sécurité et la sûreté des circulations des trains.</p>
            <p>> Augmenter la cadence des trains et améliorer le niveau de régularité  </p>
      </div>
      
            
      <img src="{% static 'website/img/bg_img/quelquechiffre2.png' %}" alt="">
      <p></p>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}