{% extends 'base.html' %}
{% load static %}
{% block title %}Gares  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Gares.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Gares </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Projet_structurant' %}"><i class="fa fa-home"></i>Grands Projet</a></li>
              <li class="breadcrumb-item active" aria-current="page">Gares </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Les gares, lieux de vie</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            La gare est devenue aujourd’hui un pôle d’échange au cœur de la ville. D'un simple lieu de transit de voyageurs, 
            elle s’est métamorphosée en un lieu de vie, propice à la détente, à la restauration ou au shopping. Ces édifices 
            s’intègrent harmonieusement dans l’environnement urbanistique des villes et se positionnent comme espace multifonctionnel
             offrant des services diversifiés à même de satisfaire au mieux les attentes des voyageurs et des visiteurs.
          </b></p></h1>
          
          <h1><p><b>
            Soucieux d’offrir des produits et des services innovants, l’Office a déployé un ambitieux programme de modernisation et de 
            construction de gares ferroviaires, aussi bien grandes que moyennes et petites, marquant ainsi une  rupture avec la conception 
            traditionnelle des gares comme simples points de transit des voyageurs.</b></p></h1>
          
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Agdal-1.jpg' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
                CONSISTANCE
              </b></p></h1>
            <p>Dans le cadre de ce programme, l’ONCF a procédé durant la période 2010-2019 à la modernisation et la construction de 42 gares,
                 ayant nécessité une enveloppe globale de plus de 800 millions de dirhams. Dans la continuité de déploiement dudit programme, plusieurs étapes ont été franchies :</p>
            <p>> Achèvement en 2016 des gares de Taourirt, Benguerir, Oujda et Bouskoura</p>
            <p>> Mise en service de la gare de Temara et des gares accompagnant le projet de la ligne à grande vitesse, à savoir Tanger Ville, Kénitra, Rabat Agdal et Casa Voyageurs</p>
            <p>> Construction en cours de la gare de Rabat Ville </p>
            <p>> Lancement/ poursuite des études relatives aux gares de Guercif, Settat, Skhirat, Meknès et Taza</p>
            <p>A noter que ces édifices sont dotés de toutes les commodités nécessaires et abritent des centres commerciaux offrant de multiples 
                services et ce, en plus des activités liées aux voyageurs (billetterie, salle d’attente, café,…) et des aménagements extérieurs
                 s’intégrant harmonieusement avec leur environnement urbanistique : esplanade, espaces verts, station taxis, parking…, ils comprennent
                  également des équipements et des installations à la pointe de la technologie : vidéosurveillance, détection d’incendie, sonorisation,
                   affichage publicitaire, affichage électronique des horaires des trains,...En outre, ces gares sont équipées d’installations et commodités
                    nécessaires à même de faciliter l’accessibilité aux personnes à mobilité réduite et leur offrir des services adaptés à leurs besoins 
                    spécifiques : rampes d’accès au parking et au passage souterrain, places de stationnement de voiture, guichet spécial, sanitaires dédiés,…</p>

        </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <a href="https://youtu.be/4rRpfEX-udY?si=p_61ePcaRKvr4MtY"><img src="{% static 'website/img/bg_img/Les-gares-lieux-de-vie.jpg' %}" alt=""></a>
            
        </div>
        <h1><p><b>
            Objectifs 
          </b></p></h1>
          <p>> Améliorer les conditions d’accueil et de confort des voyageurs, notamment à travers l’offre 
            de services répondant aux standards de qualité et l’intégration d’espaces commerciaux et de loisirs</p>
            <p>> Faire face à la progression du trafic des voyageurs</p>
            <p>> Accompagner le développement urbain des villes, dans le but de contribuer à stimuler leur progrès 
                économique et la dynamique à grande échelle du tissu urbain qui les entoure</p>
            <p>> Valoriser et optimiser l’utilisation du patrimoine ferroviaire, tout en préservant l’environnement et 
                exploitant les technologies et les process permettant de réduire les GES, de renforcer l’efficacité énergétique
                 et de s’inscrire dans la stratégie nationale de développement durable </p>
                 <img src="{% static 'website/img/bg_img/gares.png' %}" alt=""><img src="{% static 'website/img/bg_img/2gare.png' %}" alt="">
      </div>
      
            
     
      <p> </p>
      <p></p>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}