{% extends 'base.html' %}
{% load static %}
{% block title %}Ligne à grande vitesse Tanger-Casablanca {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Vision.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Ligne à grande vitesse Tanger-Casablanca  </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Projet_structurant' %}"><i class="fa fa-home"></i>Grands Projet</a></li>
              <li class="breadcrumb-item active" aria-current="page">Ligne à grande vitesse Tanger-Casablanca </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>La mobilité de demain entre en gares</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            Le projet de construction d’une Ligne à Grande Vitesse reliant Tanger à Casablanca s’inscrit dans le cadre de la politique des 
            grands chantiers initiée et conduite par SA MAJESTE LE ROI MOHAMMED VI Que Dieu l’Assiste. Il s’agit d’un système qui constitue, 
            grâce à ses diverses retombées positives, une solution innovante et un choix naturel pour dynamiser le transport national, privilégier
             la multi-modalité et préserver l’environnement.
          </b></p></h1>
          
          <h1><p><b>
            Ce projet constitue la première étape de la mise en œuvre d’un schéma directeur des Lignes à Grande Vitesse visant la construction progressive 
            d’un réseau d’environ 1500 km, composé de l’axe «Atlantique» Tanger-Casablanca-Agadir et de l’axe «Maghrébin» Casablanca-Rabat-Fès-Oujda.  </b></p></h1>
          
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Intr.jpg' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
                CONSISTANCE
              </b></p></h1>
            <p>> Acquisition de 1800 ha</p>
            <p>> Réalisation d’une ligne nouvelle de 200 km entre Tanger et Kénitra en double voie électrifiée à 25KV AC</p>
            <p>> Construction de 2 bases travaux (94 Ha ) à Kénitra et Tnine Sidi El Yamani</p>
            <p>> Réalisation de 12 viaducs</p>
            <p>> Réaménagement de 2 installations terminales en gares de Kénitra et de Tanger</p>
            <p>> Construction d’un atelier de maintenance des trains à grande vitesse à Tanger</p>
            <p>> Acquisition de 12 Trains à Grande Vitesse.</p>
            <h1><p><b>
                RETOMBÉES
              </b></p></h1>
            <p>> Rapprocher les deux grands pôles économiques Casablanca et Tanger</p>
            <p>> Satisfaire une demande sans cesse croissante</p>
            <p>> Réduire les temps de parcours entre ces deux métropoles</p>
            <p>> Libérer la capacité pour le transport fret induit par l’activité du port de Tanger Med</p>
            <p>> Promouvoir le développement d’un écosystème ferroviaire local.</p>
          </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <a href="https://www.youtube.com/watch?v=0zpPGRqPL9w&ab_channel=ONCF"><img src="{% static 'website/img/bg_img/Al-boraq-transformation-en-marche.jpg' %}" alt=""></a>
        </div>
      </div>
      <h1><p><b>
        Véritable épopée sans précédent dans l’histoire du Maroc et pour le continent africain, la Ligne à Grande Vitesse Tanger - Casablanca est un incroyable défi technologique et 
        économique pour le Royaume, mais c’est également un exploit industriel, technique et une aventure humaine unique.
      </b></p></h1>
      <img src="{% static 'website/img/bg_img/screen2.png' %}" alt="">
      <p></p>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}