{% extends 'base.html' %}
{% load static %}
{% block title %}Plan Rail Maroc  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Vision.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Plan Rail Maroc   </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i>Strategie</a></li>
              <li class="breadcrumb-item active" aria-current="page">Plan Rail Maroc  </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Des schémas prospectifs pour le développement du rail</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            Le Plan Rail Maroc 2040 (PRM) est un schéma directeur de long terme portant sur le développement à l’horizon 2040 du réseau 
            ferré national dans ses différentes composantes.
          </b></p></h1>
          <h1><p><b>
            Il prend en compte la cartographie des besoins de transport futurs, déclinés en besoins de services ferroviaires puis en banque de projets.
          </b></p></h1>

          <blockquote cite="" class="dento-blockquote d-flex">
            <div class="icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="text">
              <h5>… Nous caressons également le rêve de construire une ligne ferroviaire de Tanger à Lagouira, pour relier le Maroc au reste de l’Afrique. 
                Nous prions pour que Dieu nous aide à trouver les ressources financières qui nous manquent aujourd’hui en vue de parachever la ligne Marrakech-Lagouira…</h5>
            </div>
          </blockquote>
          <h1><p><b>
            Extrait du Discours prononcé par Sa Majesté le Roi Mohammed VI, Que Dieu L’Assiste, à l’occasion du 40e anniversaire 
            de la Marche Verte le 6 Novembre 2015 à Laâyoune
          </b></p></h1>
          <h1><p><b>
            Bâti autour de hubs, reliés entre eux à l’intérieur de corridors de déplacement par des TGV, des trains régionaux et navettes, le PRM assurera un maillage dense du 
            Royaume et participera de manière décisive aux politiques d’aménagement des territoires.
          </b></p></h1>
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Plan-rail-maroc-vf-1.jpg' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
                Ce schéma directeur est constitué d’une banque de projets:
              </b></p></h1>
              <h1><p><b>
                Des projets de maintien et d’amélioration de la robustesse du réseau existant et 
                de renforcement de la performance de l’outil de production, qui offrent des solutions durables de 
                désaturation des goulots d’étranglement (offre étoffée, gain de temps, électrification, sécurité, entretien…) 
              </b></p></h1>
              <h1><p><b>
                Des projets de connexions ferroviaires des nouveaux ports, en ligne avec la stratégie nationale en la matière, et 
                visant à contribuer au développement portuaire, industriel et logistique 
              </b></p></h1>
              <h1><p><b>
                Des projets d’extension du réseau par des lignes conventionnelles (vitesse maximale de 160km/h) vers les villes du 
                Royaume encore non desservies par rail, en prenant en compte la viabilité économique du système ferroviaire et l’inclusion territoriale 
              </b></p></h1>
              <h1><p><b>
                Des projets d’extension du réseau par des lignes à grande vitesse reliant les hubs entre eux, en optant pour des systèmes autorisant
                 des vitesses allant de 220 à 320km/h pour garantir une meilleure efficience des projets
              </b></p></h1>

          </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <img src="{% static 'website/img/bg_img/retombe.png' %}" alt="">
        </div>
      </div>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}