{% extends 'base.html' %}
{% load static %}
{% block title %}Projets structurants {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Vision.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Projets structurants  </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Developpement' %}"><i class="fa fa-home"></i> Developpement</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Projet_structurant' %}"><i class="fa fa-home"></i>Grands Projet</a></li>
              <li class="breadcrumb-item active" aria-current="page">Projets structurants </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>DES PROJETS STRUCTURANTS ACHEVES </h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            DES CHANTIERS D’ENVERGURE, POUR QUELLE FINALITE ?
          </b></p></h1>
          
          <h1><p><b>
            Le transport ferroviaire a connu, en sept ans, une importante évolution en termes de trafic qui a doublé, accompagné 
            d’un renforcement considérable de l’offre. Cette évolution a été confrontée à des contraintes liées à la configuration 
            du réseau et à ses capacités dont on cite la voie unique sur des axes sollicités (Tanger/Kenitra et Settat /Marrakech) 
            et la saturation de l’axe porteur Casablanca-Rabat-Kenitra.            </b></p></h1>

            <h1><p><b>
                Face à ces contraintes, l’ONCF réalise un ambitieux programme d’investissement faisant aujourd’hui du réseau ferré national 
          un chantier à ciel ouvert de Tanger à Marrakech, tout en faisant le choix volontariste de maintenir l’offre presque au même niveau.
              </b></p></h1>


              <h1><p><b>
                SUR QUOI PORTENT CES PROJETS ?
              </b></p></h1>
              
              <h1><p><b>
                Le programme d’investissement en question concerne les axes porteurs du réseau et comporte essentiellement :         </b></p></h1>
    
                <h1><p><b>
                    Le projet de construction de la Ligne à Grande Vitesse reliant Tanger à Casablanca actuellement en phase de préparation à 
                    l’exploitation et qui constitue la première étape d’un schéma directeur la Ligne à Grande Vitesse portant sur un linéaire d’environ 1500 km
                  </b></p></h1>

                  <h1><p><b>
                    Les grands projets structurants de modernisation du réseau existant
                  </b></p></h1>
                  <h1><p><b>
                    Ces projets, présentés plus amplement dans les pages qui suivent, ont été achevés en 2018.
                  </b></p></h1>
          
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Page-projets-structurants2.jpg' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
                QU’EN EST-IL DE LEUR RETOMBEES ?
              </b></p></h1>
              <h1><p><b>
                La réalisation de ces projets sur des infrastructures en exploitation impose des limitations de vitesse, 
                des rallongements des temps de parcours et cause quelques retards pouvant être amplifiés par des éléments
                 externes. Ces facteurs fragilisent l’exploitation ferroviaire et tout incident, quelle que soit son origine, 
                 se répercute par une perturbation du trafic.
              </b></p></h1>
              <h1><p><b>
                Néanmoins, un grand effort est fourni par les cheminots pour réaliser les travaux sur le réseau en exploitation 
                durant la nuit pour limiter, autant que possible, l’impact des chantiers sur les trains.
              </b></p></h1>
              <h1><p><b>
                Depuis leur mise en service en 2018, ces projets structurants ont permis d’améliorer, voire métamorphoser l’offre ferroviaire, 
                de renforcer la sécurité, d’améliorer la qualité de service et de rapprocher les villes en réduisant les temps de parcours.
              </b></p></h1>
              <h1><p><b>
                Sans oublier bien entendu, l'impact de ces projets, sur le développement d’un écosystème autour du ferroviaire, tout en dynamisant 
                les activités des entreprises marocaines et contribuant à la création de la valeur et de l’emploi durable.
              </b></p></h1>

          </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <img src="{% static 'website/img/bg_img/chiffre_revelateurs.png' %}" alt="">
        </div>
      </div>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}