{% extends 'base.html' %}
{% load static %}
{% block title %}Triplement Casablanca-Kénitra  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Vision.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Triplement Casablanca-Kénitra </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Projet_structurant' %}"><i class="fa fa-home"></i>Grands Projet</a></li>
              <li class="breadcrumb-item active" aria-current="page">Triplement Casablanca-Kénitra </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2> Plus de robustesse et de capacité</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            De par sa position stratégique dans la configuration du réseau ferré national, l’axe Casablanca-Rabat-Kénitra, qui relie le Nord, 
            l’Est et le Sud du pays, constitue le cœur de l’activité ferroviaire au quotidien : une part prépondérante du trafic, aussi bien 
            des navetteurs que des voyageurs grandes lignes, transite par cet axe porteur. 
          </b></p></h1>
          
          <h1><p><b>
            Cet axe enregistre un taux de saturation important, constituant une contrainte majeure quant à son exploitation et aux possibilités 
            d’étendre l’offre pour faire face convenablement à la demande en croissance constante. De ce fait, l’augmentation de sa capacité et 
            le renforcement de sa robustesse se sont imposés pour assurer une offre étoffée avec des services plus attractifs répondant au mieux
            aux attentes de la clientèle.</b></p></h1>
          
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Triplement-kenitra-casablanca-1.jpg' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
                CONSISTANCE
              </b></p></h1>
              <p>Lancé par Sa Majesté Le Roi Mohammed VI, Que Dieu Le Glorifie, en septembre 2012, ce projet comporte trois composantes majeures, à savoir :</p>
            <p>> Robustesse : Renouvellement de 100 km de voie et de 160 km de lignes caténaires, réhabilitation du tunnel de Rabat Ville</p>
            <p>> Sécurité et sûreté : Remplacement des passages à niveau par des ponts, clôture de la totalité du parcours</p>
            <p>> Triplement de la voie : Terrassement et ouvrage d’art sur 100 km, construction de 6 ponts routes, de 4 viaducs, de 21 ponts rails 
                et de 11 passerelles, construction et renforcement de 15 sous-stations, pose de 100 km de voie et caténaire, modernisation et automatisation 
                des équipements et installations de signalisation.</p>
            
          
          </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <a href="https://www.youtube.com/watch?v=FgPoVs8dYr0&ab_channel=ONCF"><img src="{% static 'website/img/bg_img/Projet-du-triplement-de-la-voie-kenitra-casablanca.png' %}" alt=""></a>
            
        </div>
        <h1><p><b>
            Objectifs du projet 
          </b></p></h1>
          <p>> Répondre à l’évolution croissante (plus de 50%) du trafic voyageurs et fret transitant par cet axe</p>
            <p>> Améliorer la gestion des circulations et la qualité du service offert</p>
            <p>> Augmenter la capacité de l’offre ferroviaire, tout en modernisant les installations techniques</p>
            <p>> Renforcer la sécurité et la sûreté  sur cet axe.</p>
      </div>
      
            
      <img src="{% static 'website/img/bg_img/quelquechiffre.png' %}" alt="">
      <p></p>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}