{% extends 'base.html' %}
{% load static %}
{% block title %}Vision {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Vision.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Vision  </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i>Strategie</a></li>
              <li class="breadcrumb-item active" aria-current="page">Vision </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Leader de la mobilité durable, l’ONCF se réinvente face à ses enjeux stratégiques</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            Dans le cadre de sa nouvelle stratégie co‑construite pour la prochaine décennie et baptisée 
            « Destination 2025», le Groupe ONCF affiche une nouvelle vision qui le positionne en « leader 
            national de la mobilité durable au service des politiques publiques, accélère sa transformation 
            digitale et se réinvente face à ses nouveaux enjeux stratégiques ». Cette vision est soutenue par
             les cinq axes stratégiques ci-après :
          </b></p></h1>

          <p>> Le Groupe ONCF, leader national de la mobilité durable </p>
          <p>> Le Groupe ONCF, accélère la valorisation de ses actifs matériels et immatériels et développe la filière ferroviaire et son rayonnement régional</p>
          <p>> Le Groupe ONCF, fait du développement de sa performance interne un levier essentiel </p>
          <p>> Le Groupe ONCF, est au service des politiques publiques de mobilité et d’aménagement du territoire </p>
          <p>> Le Groupe ONCF, fait du digital un levier de transformation interne et externe.</p>
      
     
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Axes-strategiques-rails-2.png' %}" alt="">
                <img src="{% static 'website/img/bg_img/Rail.png' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>

    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}