{% extends 'base.html' %}
{% load static %}
{% block title %}Bensouda Fès {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/entrepriseimg.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 href="" class="title">Bensouda Fès </h2>
          
            
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Fret_logistique' %}"><i class="fa fa-home"></i> Fret et logistique</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Offres_logistique' %}"><i class="fa fa-home"></i>Offres logistiques </a></li>
                
                <li class="breadcrumb-item active" aria-current="page">Bensouda Fès  </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Un port sec pour la région Fès-Meknès </h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    
      <h3><p><b>Le nouveau terminal à conteneurs Fès Bensouda bénéficie 
        d’un emplacement stratégique ; Implanté au cœur de la zone industrielle de 
        Bensouda sur une superficie de 5,5 ha, connecté au réseau ferré et facilement 
        accessible par route et autoroute, ce port sec joue le rôle d’un hub de réception, 
        de manutention, de stockage et de distribution des conteneurs (import/export) pour 
        la région Fès/Meknès.</b></p>
    
    </h3>
      </div>
      
    </div>
  </section>
  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Img1.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Des services aux standards internationaux </h3>
              <div class="line"></div>
            </div>
            <p>> Un service de porte à porte </p>
            <p>> Un service de manutention avec un équipement de dernière technologie (spreaders d’une capacité de 40 T et gerbage sur  3 niveaux)</p>
            <p>> Un espace clôturé et hautement sécurisé grâce à un système de vidéosurveillance et gardiennage 24H/24  </p>
            <p>> Un suivi informatisé du stockage des conteneurs et leur traçabilité </p>
            <p>> Un transport des marchandises sous douane </p>
            <p>> Une assistance par une équipe d’experts qualifiée </p>
            <p>> La location de locaux</p>
            

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Img3.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Des capacités de traitement dimensionnées en fonction des prévisions de croissance du trafic de marchandises et de conteneurs </h3>
              <div class="line"></div>
            </div>
            <p>> Céréales : 100 000T/an </p>
            <p>> Hydrocarbures : 100 000T/an </p>
            <p>> Produits de l’acier : 50 000T/an </p>
            <p>> Conteneurs : 50 000 Conteneurs/ an </p>
            <p>> Voitures : 200 emplacements pour une capacité de traitement de 2000 voitures/an </p>
            <p>> Matériaux de construction : 50 000T/an</p>
            

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Bensouda-fes.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Une infrastructure performante pour des clients exigeants</h3>
              <div class="line"></div>
            </div>
            <p>> Un pont bascule camion d’une capacité de 80 T </p>
            <p>> 2 zones de stockage : une sous douane de 7000 m2 et une autre hors douane de 5500 m2 </p>
            <p>> Des espaces de déchargement des céréales </p>
            <p>> Un espace de visite des conteneurs de  180 m2 dédié, avec abri </p>
            <p>> Une capacité de traitement de 50 000 conteneurs import et export par an </p>
            <p>> Un espace de stockage de véhicules </p>
            <p>> Un espace logistique de traitement de marchandises diverses  </p>
            <p>> Une salle de contrôle et de surveillance </p>
            <p>> 25 caméras de vidéosurveillance</p>
            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <a href="https://www.oncf.ma/fr/content/download/51506/1183359/version/1/file/Fiche%20des%20contacts.pdf" class="btn dento-btn booking-btn">Nos commerciaux à votre écoute </a>
              <a href="https://www.oncf.ma/fr/content/download/56430/1297639/version/1/file/Conditions%20de%20vente.pdf" class="btn dento-btn booking-btn">Conditions de vente </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}