{% extends 'base.html' %}
{% load static %}
{% block title %}Fret ONCF et Environnement {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Fret-oncf-et-environnement.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Fret ONCF et Environnement </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Fret_logistique' %}"><i class="fa fa-home"></i> Fret et logistique</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Enquete_satisfaction_client' %}"><i class="fa fa-home"></i>Autres thematique</a></li>
              <li class="breadcrumb-item active" aria-current="page">Fret ONCF et Environnement </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Une mobilité durable</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
          Grâce au transport de marchandises par rail, 400 000 tonnes d’émissions de CO2 sont évités annuellement.
          </b></p></h1>
          <h1><p><b>
            En tant que transporteur ferroviaire, l’Office National des Chemins de Fer (ONCF) contribue activement 
            à la protection de l'environnement et l’amélioration de la mobilité. Ceci est dû à la nature du transport 
            ferroviaire qui lui permet d’émettre jusqu'à 5 fois moins de CO² que le transport routier, cette évolution 
            a un impact direct sur les objectifs climatiques du royaume. Pas moins de 32 000 camions par jour pourraient 
            être éliminés de nos routes.
            </b></p></h1>
          <h1><p><b>
            Déterminé à renforcer sa mission de transport naturellement écologique, l’office a réalisé son premier 
            bilan carbone ayant confirmé les performances du ferroviaire en tant que mode offrant des solutions de 
            mobilité en phase avec la lutte contre le changement climatique. Le bilan est satisfaisant : le niveau 
            d’émission de CO2 du rail représente seulement 0,47% des émissions globales de Gaz à effet de serre (GES) 
            du Maroc et 2,6% des émissions du secteur de transport pour une part de marché de 8,5%. Enfin, l’ONCF s’est 
            engagé dans une démarche d’efficacité énergétique en certifiant, dans une première étape, son siège social 
            ainsi que la gare de Marrakech aux normes ISO 50001, assurant ainsi son autonomie électrique (50%) grâce à 
            l’installation de panneaux photovoltaïques, et ce, en plus de la certification de ladite gare ISO 14001.
            </b></p></h1>
      <h1><p><b>
        Ainsi et dans le cadre de sa politique de développement durable lancée en 2015, le groupe ONCF s’engage 
        à réduire son niveau de consommation d’énergie de 20 % d’ici à 2020. Cette démarche repose, entre autres, 
        sur la mise en place de Systèmes de Management de l’Energie (SME), selon la norme ISO 50001 notamment dans les sites énergivores. 
      </b></p></h1>
      <h1><p><b>
        Comparaison Rail/Route 
      </b></p></h1>
      <p>> Le fret ferroviaire émet 5 fois moins de GES que la route</p>
      <p>> 32 millions tonnes transportées / 1,2 millions de camions évités</p>
      <p>> 3200 camions évités chaque jour sur nos routes</p>
      <p>> Avec 34 ,56 g CO2 /TK Soit 428 000TCO2 d’émissions de GES évitées annuellement.</p>
    
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}