{% extends 'base.html' %}
{% load static %}
{% block title %}Fret et logistique{% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/frailog1.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 href="" class="title">Fret et logistique</h2>
          
            
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Fret et logistique</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/fretMap.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Notre offre d'appui logistique</h3>
              <div class="line"></div>
            </div>
            <p>Nos experts métiers, vous assureront des propositions de différentes prestations logistiques : 
                ferroviaire, routière, manutention, entreposage et d’autres services annexes en fonction de vos besoins de transport. 
                Selon la nature et le volume de vos marchandises, nous organisons avec vous la prestation la plus adaptée.</p>

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <a href="{% url 'Notre_offre_logistique' %}" class="btn dento-btn booking-btn">Decouvrez nos offres</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        

        <!-- Cool Facts Area -->
        
        <!-- Cool Facts Area -->
        

        <!-- Cool Facts Area -->
        <a href="https://www.youtube.com/watch?v=eC-Pr7BiFJk&ab_channel=Minist%C3%A8reduTransportetdelaLogistique"><img src="{% static 'website/img/bg_img/Votre-partenaire-en-logistique.jpg' %}" alt=""></a>
        
      </div>
    </div>
  </section>
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/fretchifres.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Le train est l’avenir du fret !</h3>
              <div class="line"></div>
            </div>
            <p>E-Fret vous offre le confort d’effectuer en ligne :</p>
            <p>> Vos demandes de transport</p>
            <p>> Vos demandes de location de matériel</p>
            <p>> Vos demandes de prestations accessoires</p>
            <p>> Des informations précises sur le transport de vos marchandises en temps réel</p>
            <p>> Un suivi à distance de toutes les opérations de vos contrats de transport</p>

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
           
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="dento-contact-area mt-50 mb-100">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="google-maps mb-100">
                <h2><p>Pour un management environnemental et énergétique efficace :</p></h2>
                <a href=""><img class="img" src="{% static 'website/img/bg_img/Produits-agri-agro_carousel_item.jpg' %}" alt=""></a>
                <a href=""> <img src="{% static 'website/img/bg_img/Automobile_carousel_item.jpg' %}" alt=""></a>
                <a href=""> <img src="{% static 'website/img/bg_img/Energie_carousel_item.jpg' %}" alt=""></a>
              </div>
            </div>
          </div>
        </section>
  <!-- ***** Testimonials Area Start ***** -->
 
  <!-- ***** Testimonials Area End ***** -->
 
  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Ils nous font confiance :</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <a href=""><img class="img" src="{% static 'website/img/bg_img/Onee.jpg' %}" alt=""></a>
            <!-- Dentist Content -->
            
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
           <a href=""> <img src="{% static 'website/img/bg_img/Renault.png' %}" alt=""></a>
            <!-- Dentist Content -->
            
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
           <a href=""> <img src="{% static 'website/img/bg_img/Ocp.png' %}" alt=""></a>
            
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <a href=""><img src="{% static 'website/img/bg_img/Elalf.jpg' %}" alt=""></a>
            <!-- Dentist Content -->
            
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            
            <!-- Dentist Content -->
            <a href=""><img src="{% static 'website/img/bg_img/Afriquia.jpg' %}" alt=""></a>
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <a href=""><img src="{% static 'website/img/bg_img/Sonasid.jpg' %}" alt=""></a>
            <!-- Dentist Content -->
            
          </div>
        </div>
        
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}