{% extends 'base.html' %}
{% load static %}
{% block title %}Fret en chiffres {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/entrepriseimg.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 href="" class="title">Fret en chiffres </h2>
          
            
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Fret_logistique' %}"><i class="fa fa-home"></i> Fret et logistique</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Missions' %}"><i class="fa fa-home"></i>Savoir faire</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fret en chiffres  </li>
            </ol>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Le train est l’avenir du fret et logistique! </h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            Des performances en phase avec une demande en progression continue
          </b></p></h1>
          
          <h1><p><b>
            En plus des atouts spécifiques du mode ferroviaire, le fret offre une 
            capacité importante d’acheminement de masses :4000 tonnes par train soit l’équivalent de 
            150 camions d’une capacité de 30 tonnes.  </b></p></h1>

      
    </div>
  
</div>
    
  </section>
  
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">25</span>m</h2>
              <h5>de tonnes transportées </h5>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">1500</span>Voiture</h2>
              <h5>transportées par jour </h5>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">80000</span>Tone</h2>
              <h5>transportées par jour </h5>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">19000</span>Conteneur</h2>
              <h5>EVP </h5>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">70</span>Train/j</h2>
              <h5>en circulation </h5>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">185</span>Client</h2>
              <h5>grands comptes </h5>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">35</span>Produit</h2>
              <h5>transportés</h5>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cta text-center mt-50 mb-100">
              <i class="fa fa-train"></i>
              <h2><span class="counter">5500</span>Wagon</h2>
              <h5>à marchandises </h5>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->
  
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}