{% extends 'base.html' %}
{% load static %}
{% block title %}Offres de transport et logistique   {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Missions.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Offres de transport et logistique    </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Fret_logistique' %}"><i class="fa fa-home"></i> Fret et logistique</a></li>
                <li class="breadcrumb-item active" aria-current="page">Offre_transport_logistique </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>La logistique, une palette de nouveaux services pour favoriser la compétitivité de nos industries! </h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

          
          <h1><p><b>
            En complément de ses activités de transport de voyageurs,
             l’ONCF propose aux industriels des services logistiques. Son objectif : devenir un opérateur global, 
             maitrisant l’intégralité de la chaine de valeur et devenir le premier groupe logisticien du Maroc.</b></p></h1>


              
          
    
      
    </div>
   


    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}