{% extends 'base.html' %}
{% load static %}
{% block title %}Transport rail-route   {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Transport-rail-route.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Transport rail-route    </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Fret_logistique' %}"><i class="fa fa-home"></i> Fret et logistique</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Missions' %}"><i class="fa fa-home"></i>Savoir faire</a></li>
                <li class="breadcrumb-item active" aria-current="page">Transport rail-route  </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Pour des solutions optimales </h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            DES CHANTIERS D’ENVERGURE, POUR QUELLE FINALITE ?
          </b></p></h1>
          
          <h1><p><b>
            Avec sa filiale <a href="http://www.carre.ma/">SMTR CARRE</a>, l’ONCF assure la livraison de vos marchandises par train, par camion ou bien par transport combiné bimodal rail-route.    </b></p></h1>

            
          
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/smrtcars.png' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>
   
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            
            <h1><p><b>
               Idéalement situés à proximité des gares et des ports du pays, les centres de tri de la SMTR CARRE vous assurent 
               les meilleures conditions d’acheminement de vos marchandises à travers tout le pays grâce à ses solutions de 
               transport bimodal rail-route. Adaptables à tout type de marchandises et de conditionnements, conteneurs, vrac, 
               hors gabarit… nos solutions répondent à vos besoins dans des délais optimisés.
              </b></p></h1>
             

          </div>
        </div>  
        </div>
        </div>
      </div>
<div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
            <a href="https://www.youtube.com/watch?v=erIQ4tcr8PQ&ab_channel=SMTRCARRE"><img src="{% static 'website/img/bg_img/Des-solutions-de-transport-rail-route.jpg' %}" alt=""></a>
        </div>
      </div>
    </div>  
    </div>
    </div>
  </div>
  
</div>
    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}