{% extends 'base.html' %}
{% load static %}
{% block title %}Capital Humain {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Capital-humain.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Capital Humain</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Entreprise' %}"></i> Entreprise</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Faire_carriere' %}"></i> Faire carrière à l’ONCF</a></li>
                <li class="breadcrumb-item active" aria-current="page">Capital Humain</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        
        <!-- Section Heading -->
        <div class="col-12">
            
          <div class="section-heading text-center">
            <h2>Le capital humain, au cœur des priorités de l’ONCF</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <h1><p><b>
        Chaque jour, ils sont plus de 7000 collaborateurs : vendeurs, contrôleurs, conducteurs, aiguilleurs, techniciens et
         ingénieurs, qui travaillent pour servir plus de 40 millions de voyageurs et assurer le transport de plus de 25 millions de 
         tonnes de fret par an.
      </b></p></h1>
    <h1><p><b>
        Mobilité, durabilité, partage, adhésion aux valeurs, développement des compétences et préservation de la santé et sécurité au 
        travail s’appliquent à notre politique de gestion du capital humain, pour le bien-être de nos collaborateurs.
      </b></p></h1>
      <h1><p><b>
        L’objectif est de donner à nos collaborateurs une visibilité en termes de droits, de responsabilités, d’évolution de 
        carrière et de rémunération, en se basant sur :
      </b></p></h1>
      <p>> Un système de gestion des ressources humaines moderne et innovant ; </p>
      <p>> Un système de rémunération reposant sur les principes du mérite, de l’équité, de la compétitivité et de la motivation ;</p>
      <p>> Un système d’évaluation des compétences et des performances permettant aux collaborateurs d’être rétribués annuellement, 
        au moyen d’appréciation formalisée et objective, basée sur des critères prédéfinis et neutres ;</p>
      <p>> Une mobilité et promotion interne qui stimule les parcours professionnels ;</p>
      <p>> Une gestion prévisionnelle des RH fondée sur un système de pilotage par anticipation en matière d’effectif 
        et d’évolution des emplois et des compétences ;</p>
      <p>> Une politique de formation multidisciplinaire permettant de développer les compétences et d’accompagner la stratégie de l’Office ;</p>
      <p>> Une politique de formation multidisciplinaire permettant de développer les compétences et d’accompagner la stratégie de l’Office ;</p>
      <p>> Une culture de préservation de l’expertise ferroviaire.</p>
        </div>

        <div class="container">
            <div class="row">
              <!-- Section Heading -->
              <div class="col-12">
                <div class="section-heading text-center">
                    <img src="{% static 'website/img/bg_img/Rh.png' %}" alt="">
                    
                  <div ></div>
                </div>
              </div>
            </div>
          
            
            </div>
  
  
  
  
            <div class="col-12">
              
              <div class="section-heading text-center">
                <h2>Bien-être des collaborateurs et conditions de travail</h2>
                <div class="line"></div>
              </div>
            </div>
          </div>
          
        <div class="container">
            <div class="col-12">
              
                <div class="section-heading text-center">
                  <h2>Avantages … et droits</h2>
                  <div class="line"></div>
                </div>
              </div>
              <h1><p><b>
                Convaincu que l’environnement dans lequel évoluent nos collaborateurs ainsi 
                que leur bien-être constituent un enjeu essentiel et un levier important de motivation 
                des collaborateurs, de leur épanouissement, de leur réussite et de leur succès collectif, 
                l’ONCF a toujours été soucieux de privilégier des politiques sociales motivantes pour garantir 
                à son capital humain des conditions de travail optimales. Il offre ainsi plusieurs avantages, notamment:
              </b></p></h1>
            </div>
          </div>

          <div class="container">
            <div class="col-12">
              
                <div class="section-heading text-center">
                  <h2>Agir pour l’amélioration continue des conditions de travail</h2>
                  <div class="line"></div>
                </div>
              </div>
              <h1><p><b>
                L’ONCF fait du dialogue social et de la concertation un moyen incontournable pour assurer des 
                relations durables avec ses partenaires sociaux, tenant compte en permanence, tant des aspirations 
                légitimes des collaborateurs que des impératifs d’efficacité économique de viabilité financière de l’entreprise. 
              </b></p></h1>
              <h1><p><b>
                Une durabilité qui s’est concrétisé par un protocole d’accord, signé avec tous les partenaires sociaux ayant une représentation à
                 l’Office, couvrant la période 2022-2027, visant l’amélioration continue de la rémunération des collaborateurs, le développement 
                 des prestations sociales et l’amélioration de la santé et sécurité au travail des collaborateurs à travers :            
                </b></p></h1>
                <p>> L’amélioration progressive des salaires en mettant en place les mécanismes nécessaires ; </p>
                <p>> L’évolution du système de classification des fonctions, permettant une meilleure visibilité en termes
                     d’évolution de carrière et d’opportunités de promotion ; </p>
                <p>> La continuité des efforts d’amélioration des conditions de travail avec la mise en place d’un système de Santé et 
                    Sécurité au Travail performant et viable;</p>
                <p>> La garantie du bien-être des collaborateurs avec une offre sociale riche et diversifiée.</p>
                </div>
                <div class="section-heading text-center">
                    <h2>Grandir ensemble</h2>
                    <div class="line"></div>
                  </div>
                  <div class="section-heading text-center">
                    <h2>A travers le développement des Compétences</h2>
                    <div class="line"></div>
                  </div>
                  <div class="container">
                    <div class="col-12">
                  <h1><p><b>
                    Convaincu que la formation constitue un levier de taille pour le développement des compétences de ses collaborateurs et dans l’objectif d’accompagner
                     sa stratégie de développement, la réalisation et l’exploitation des grands projets permettant de maximiser le profit socio-économique et de 
                     générer davantage des retombées positives sociales et sociétales, L’ONCF s’engage à assurer un développement professionnel soutenu de tous 
                     les acteurs intervenants dans les différents processus de production avec  une politique de formation réfléchie, axée principalement sur :      
                    </b></p></h1>
                    <p>> Le renforcement des compétences cœur de métier ferroviaire (ex: formations aux fonctions)</p>
                    <p>> L’Ancrage de la sécurité comme valeur de référence;</p>
                    <p>> Le déploiement des axes stratégiques de l’Office et le développement des compétences liées aux nouveaux métiers ;</p>
                    <p>> L’encouragement des modes de management participatif (ex: Formations managériales et Management de Projets) ;</p>
                    <p>> L’encouragement des modes de management participatif (ex: Formations managériales et Management de Projets) ;</p>
                    <p>> Le renforcement des partenariats avec les grandes écoles (forums, conférence…) et le développement de la coopération avec des entreprises et réseaux ferrés (ex: transfert des bonnes pratiques, conseil…).</p>
                    <h1><p><b>
                        Pour accroître le professionnalisme de ses collaborateurs et accompagner leurs projets d’évolution, un partenariat ONCF- SNCF a donné naissance en 2015 à l’Institut de Formation ferroviaire, qui a 
                        principalement pour objectif de dispenser des formations innovantes, avec un catalogue incluant plus de 140 références avec facilité de conception 
                        et de formations sur mesure.     
                        </b></p></h1>
                </div>
                    <div class="section-heading text-center">
                        <h2>La formation en chiffres</h2>
                        <div class="line"></div>
                        <section class="dento-cta-area">
                            <div class="container">
                              <div class="row">
                                <!-- Cool Facts Area -->
                                <div class="col-12 col-sm-6 col-lg-3">
                                  <div class="single-cta text-center mt-50 mb-100">
                                    <i class="icon_genius"></i>
                                    <h2><span class="counter">50000</span></h2>
                                    <h3>journées </h3>
                                    <h5>de formation par an</h5>
                                  </div>
                                </div>
                        
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="single-cta text-center mt-50 mb-100">
                                      <i class="icon_genius"></i>
                                      <h2><span class="counter">7000</span></h2>
                                      <h3>Participants</h3>
                                      <h5>aux formations </h5>
                                    </div>
                                  </div>

                                  <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="single-cta text-center mt-50 mb-100">
                                      <i class="icon_genius"></i>
                                      <h2><span class="counter">66</span></h2>
                                      <h3>% de la formation </h3>
                                      <h5>réservées à la sécurité </h5>
                                    </div>
                                  </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                  <div class="single-cta text-center mt-50 mb-100">
                                    <i class="icon_genius"></i>
                                    <h2><span class="counter">7</span></h2>
                                    <h3> % </h3>
                                    <h5>de la masse salariale réservée à la Formation </h5>
                                  </div>
                                </div>
                                
                                  <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="single-cta text-center mt-50 mb-100">
                                      <i class="icon_genius"></i>
                                      <h2><span class="counter">150</span></h2>
                                      <h3>stagiaires</h3>
                                      <h5>en fin d’études </h5>
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="single-cta text-center mt-50 mb-100">
                                      <i class="icon_genius"></i>
                                      <h2><span class="counter">1000</span></h2>
                                      <h3>stagiaires</h3>
                                      <h5>pour des stages d’information et d’initiation</h5>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </section>
                      </div>
                    </div>
                </div>
          </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}