{% extends 'base.html' %}
{% load static %}
{% block title %}Charte Achats {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Charte-achats.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Charte Achats </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Entreprise' %}"><i class="fa fa-home"></i> Entreprise</a></li>
                <li class="breadcrumb-item active" aria-current="page">Charte Achats  </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>L’ONCF, un partenaire de référence pour ses fournisseurs</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            Parce que sa politique à l’égard de ses fournisseurs illustre l’exercice d’une démarche responsable et engageante, parce que sa 
            compétitivité dépend de sa capacité à optimiser ses coûts de revient, parce que la qualité du service ferroviaire offert aux 
            clients reste tributaire de celle des prestations réalisées par des tiers, parce que le poste «Achats» représente une part importante 
            de son budget eu égard aux ambitieux investissements…, l’ONCF relève la qualité de ses relations avec ses fournisseurs au rang d’un 
            avantage concurrentiel.
          </b></p></h1>

      <h1><p><b>
        N’hésitez pas pour profiter des meilleurs prix pour un confort optimal.
      </b></p></h1>
      
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Sans-titre-1.png' %}" alt="">
                <blockquote cite="" class="dento-blockquote d-flex">
                    <div class="icon">
                      <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="text">
                      <h5>La déontologie des relations avec les fournisseurs à l’Office National des Chemins de Fer du Maroc constitue un engagement tant vis à vis du respect des règles et lois régissant la passation et la gestion des marchés que vis-à-vis des fournisseurs.</h5>
                    </div>
                    
                  </blockquote>
                  
              <div ></div>
             
            </div>
          </div>
        </div>
      
        <h1><p><b>
            Convaincu que la connaissance et le respect des règles de base confortent tout comportement, l’ONCF a adopté une charte qui gère ses relations 
            avec les différents fournisseurs, constituée d’un ensemble de règles, formulées et regroupées en une dizaine de préceptes. Il veillera à 
            son respect et sa pérennisation en tant que code de déontologie de l’ONCF, tout en procédant à son enrichissement en tirant le meilleur
             profit des expériences vécues. La déontologie des relations avec les fournisseurs incite à :
          </b></p></h1>
          <p>> Agir envers les fournisseurs avec équité et courtoisie </p>
          <p>> Eviter les risques de dépendance vis-à-vis d’un fournisseur </p>
          <p>> Ne transférer ou divulguer aucune connaissance, savoir-faire ou information appartenant en propre à un fournisseur </p>
          <p>> Garder la confidentialité de toutes les informations dont la divulgation pourrait porter préjudice aux intérêts de l’ONCF </p>
          <p>> Assurer le respect mutuel des contrats conclus</p>
        <center><div class="single-skills-area mt-30">
            <a href="https://www.oncf-voyages.ma/" class="btn dento-btn booking-btn">En profiter !</a>
            
          </div></center>
        </div>
        
      
        
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}