{% extends 'base.html' %}
{% load static %}
{% block title %}Chiffres clés {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Gouvernance.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Chiffres clés </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Entreprise' %}"><i class="fa fa-home"></i> Entreprise</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Profile_de_loncf' %}"><i class="fa fa-home"></i> Profile de l'ONCF</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chiffres clés </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <h1><p><b>
            Des performances au service de la mobilité durable
          </b></p></h1>
        <h1><p><b>
            Selon le rapport World Economic Forum « WEF » dans son édition 2017-2018, le réseau ferré marocain est 
            classé leader au niveau arabo-africain en terme de compétitivité et de qualité. En témoigne, l’évolution 
            constante au fil des années des différents indicateurs à caractère technique, économique, commercial et financier.
          </b></p></h1>
        <!-- Section Heading -->
        <div class="col-12">
            
          <div class="section-heading text-center">
            <h2>Réseau ferré et matériel roulant</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/rsx_mat.png' %}" alt="">
                
              <div ></div>
            </div>
          </div>
        </div>
      
        
        </div>
        
      









        <div class="col-12">
            
            <div class="section-heading text-center">
              <h2>Transport voyageurs</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
        
      <div class="container">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                  <img src="{% static 'website/img/bg_img/Transport_voyag.png' %}" alt="">
                  
                <div ></div>
              </div>
            </div>
          </div>
        
          
          </div>



          <div class="col-12">
            
            <div class="section-heading text-center">
              <h2>Transport fret et logistique</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
        
      <div class="container">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                  <img src="{% static 'website/img/bg_img/Trasnport_fret.png' %}" alt="">
                  
                <div ></div>
              </div>
            </div>
          </div>
        
          
          </div>




          <div class="col-12">
            
            <div class="section-heading text-center">
              <h2>Ressources humaines</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
        
      <div class="container">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                  <img src="{% static 'website/img/bg_img/Ressource_humain.png' %}" alt="">
                  
                <div ></div>
              </div>
            </div>
          </div>
        
          
          </div>




          <div class="col-12">
            
            <div class="section-heading text-center">
              <h2>Grands projets achevés</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
        
      <div class="container">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                  <img src="{% static 'website/img/bg_img/Grandprojet_acheve.png' %}" alt="">
                  
                <div ></div>
              </div>
            </div>
          </div>
        
          
          </div>




          <div class="col-12">
            
            <div class="section-heading text-center">
              <h2>Développement durable</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
        
      <div class="container">
          <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
              <div class="section-heading text-center">
                  <img src="{% static 'website/img/bg_img/Developpement_durable.png' %}" alt="">
                  
                <div ></div>
              </div>
            </div>
          </div>
        
          
          </div>



          
        </div>
        
      
        
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}