{% extends 'base.html' %}
{% load static %}
{% block title %}Faire_carriere{% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Capital-humain.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Faire carrière à l’ONCF </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Entreprise' %}"><i class="fa fa-home"></i> Entreprise</a></li>
                <li class="breadcrumb-item active" aria-current="page">Faire carrière à l’ONCF </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Faire carrière dans un environnement sain</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    
      <h3><p><b>
        L’ONCF met l’Homme au centre de ces axes de développement, le considère comme source de richesse et vecteur de différenciation et de succès. </b></p>
        </h3>
        <h3><p><b>
            L’ONCF œuvre en permanence à accompagner ces collaborateurs au développement de leurs compétences personnelles et professionnelles, 
            s’engage à garantir un environnement sain et transparent et déploie en continue des actions de fidélisation, du bienêtre, et d’amélioration des 
            conditions de travail, ceci grâce à une politique RH qui repose sur : </b></p>
        </h3>
        <h3><p><b>
            Un système de gestion des ressources humaines moderne et innovant ;  </b></p>
        </h3>
        <h3><p><b>
            Un système de rémunération reposant sur les principes du mérite, de l’équité, de la compétitivité et de la motivation ;</b></p>
    </h3>
    <h3><p><b>
        Un système d’évaluation des compétences et des performances permettant aux collaborateurs d’être rétribués annuellement, au moyen d’appréciation formalisée et objective, basée sur des critères prédéfinis et neutres ;</b></p>
</h3>
<h3><p><b>
    Une mobilité et promotion interne qui stimule les parcours professionnels ; </b></p>
</h3>
<h3><p><b>
    Une gestion prévisionnelle des RH fondée sur un système de pilotage par anticipation en matière d’effectif et d’évolution des emplois et des compétences ; </b></p>
</h3>
<h3><p><b>
    Une politique de formation multidisciplinaire permettant de développer les compétences et d’accompagner la stratégie de l’Office ; </b></p>
</h3>
<h3><p><b>
    Une politique sociale axée sur l’amélioration des conditions de travail, le bien être des collaborateurs et leurs familles ; </b></p>
</h3>
<h3><p><b>
    Une culture de préservation de l’expertise ferroviaire.</b></p>
</h3>
      </div>
      
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}