{% extends 'base.html' %}
{% load static %}
{% block title %}Filiales {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/entrepriseimg.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 href="" class="title">Filiales </h2>
          
            
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Faire_carriere' %}"> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Filiales </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Supratour.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
                <h3>Supratours </h3>
              <div class="line"></div>
            </div>
            <p>Une filiale du Groupe ONCF, exploitant des lignes d'autocars desservant les villes du Royaume non encore connectées au réseau ferré national. Elle est positionnée parmi les leaders du transport de voyageurs par autocar au Maroc et compte une branche de transport international des voyageurs. Supratours propose des services ponctuels et touristiques répondant aux exigences et aux normes internationales à travers sa flotte d’autocars dédiée.
                SUPRATOURS met à la disposition de ses clients l’expertise de sa filiale «SUPRATOURS TRAVEL», spécialisée dans la conception de prestations aussi bien touristiques qu’évènementielles. L’agence propose de nouveaux produits et prestations pour réussir vos évènements et séjours.</p>

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <a href="http://www.supratours.ma/" class="btn dento-btn booking-btn">Visitez le site</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Carre.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Société Marocaine des Transports Rapides "Carré" </h3>
              <div class="line"></div>
            </div>
            <p>Aujourd’hui un partenaire privilégié de la logistique. Grâce à son réseau d’agences dans le pays et à son parc roulant moderne, Carré offre à ses clients des services de qualité :</p>
            <p>> messagerie et messagerie express </p>
            <p>> affrètement </p>
            <p>> entreposage</p>
            <p>Son parc de véhicules moderne sillonne le Maroc selon les besoins de ses clients. Elle développe régulièrement de nouveaux services et produits. Les expéditions de marchandises se font depuis les principales villes  et associent l’ensemble des moyens de transport du Groupe ONCF : trains, autocars, camions, véhicules utilitaires légers, triporteurs…</p>
            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <a href="http://www.carre.ma/" class="btn dento-btn booking-btn">Visitez le site</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Iff.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3> Institut de Formation Ferroviaire « IFF »</h3>
              <div class="line"></div>
            </div>
            <p>Basé à Rabat, l’IFF est aujourd’hui l'Institut de formation aux métiers du ferroviaire le plus prestigieux du continent africain. Il a été créé dans le cadre du projet à grande vitesse entre Tanger et Casablanca conjointement avec la Société nationale des Chemins de Fer « SNCF ». L’IFF dispense des formations au profit des collaborateurs de l’ONCF et de la SNCF portant sur l’ensemble des compétences utiles au développement des transports ferroviaires: longue distance par ligne classique ou à grande vitesse, voyageurs et fret, périurbains et urbains.
                L’IFF noue également des partenariats avec des universités et des écoles pour développer des actions de recherche en y associant les industriels. Les formations dispensées par l’IFF sont majoritairement destinées à des cadres; elles visent l’excellence et le développement des capacités d’innovation.</p>

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <a href="http://www.iff-ma.com/" class="btn dento-btn booking-btn">Visitez le site</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->
  
  <!-- ***** Testimonials Area Start ***** -->
 
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Les filiales de l’ONCF :</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img class="img" src="{% static 'website/img/bg_img/9.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/pages/Smmrgv/113001606792629/about/?ref=page_internal"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://siana.ma/"><i class="fa fa-google"></i></a>
              </div>
              <!-- Dentist Info -->
              
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg_img/10.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.iff-ma.com/"><i class="fa fa-google"></i></a>
              </div>
              <!-- Dentist Info -->
              
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg_img/11.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100063785114452"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.supratourstravel.com/"><i class="fa fa-google"></i></a>
              </div>
              <!-- Dentist Info -->
              
            </div>
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg_img/12.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100063785114452"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.supratours.ma/"><i class="fa fa-google"></i></a>
              </div>
              <!-- Dentist Info -->
              
            </div>
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg_img/13.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="http://www.carre.ma/"><i class="fa fa-google"></i></a>
              </div>
              <!-- Dentist Info -->
              
            </div>
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg_img/14.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/pages/Michlifen-Ifran/698085366890140"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.michlifen.com/fr/"><i class="fa fa-google"></i></a>
              </div>
              <!-- Dentist Info -->
              
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}