{% extends 'base.html' %}
{% load static %}
{% block title %}Transformation digitale  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Transformation-digitale.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Transformation digitale </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Entreprise' %}"></i> Entreprise</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Faire_carriere' %}"></i> Faire carrière à l’ONCF</a></li>
                <li class="breadcrumb-item active" aria-current="page">Transformation digitale </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        
        <!-- Section Heading -->
        <div class="col-12">
            
          <div class="section-heading text-center">
            <h2>Un ambitieux plan pour un virage stratégique</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <h1><p><b>
        L’ONCF est en pleine évolution : Première Ligne à Grande Vitesse au niveau arabo-africain, Trains à Hautes Prestations, doublement voire triplement des 
        voies… Parallèlement, les habitudes de nos parties prenantes changent aussi et sont de plus en plus connectées : autrement dit, les informations entre 
        elles circulent aussi à grande vitesse.
      </b></p></h1>
    <h1><p><b>
        Dans ce contexte, l’ONCF s’est lancé dans l’accélération de sa transformation digitale dans le cadre d’une approche basée sur une double dynamique :
      </b></p></h1>
      <p>> Tirer le meilleur parti des outils et solutions SI disponibles sur le marché pour optimiser et professionnaliser les processus ‘Métier’</p>
      <p>> Faire évoluer la culture d’entreprise pour parer progressivement à la logique d’organisation en silos, s’adapter au nouveau comportement des collaborateurs tout en 
        favorisant le travail en réseau, la cohésion et la collaboration dans un esprit d’intelligence collective.</p>
      <h1><p><b>
        À ce titre, la mutation numérique est articulée autour des cinq leviers ci-après qui sont en cours de concrétisation à travers des actions ciblées et pertinentes :
      </b></p></h1>
      
      <p>> L’innovation dans les services aux clients et aux partenaires</p>
      <p>> La performance industrielle et économique</p>
      <p>> La transformation en interne vers une culture digitale</p>
      <p>> La gouvernance efficace du digital</p>
      <p>> Un SI agile garantissant la cyber sécurité et la confiance numérique.</p>
        </div>

        <div class="container">
            <div class="row">
              <!-- Section Heading -->
              <div class="col-12">
                <div class="section-heading text-center">
                    <a href="https://www.youtube.com/watch?v=v7MT-9AEzmE&ab_channel=ONCF"><img src="{% static 'website/img/bg_img/Oncfdigital-notre-plan-de-transformation-digitale.jpg' %}" alt=""></a>
                    
                  <div ></div>
                </div>
              </div>
            </div>
          
            
            </div>
  
  
  
  
            
          </div>
          
        
         
          </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}