{% extends 'base.html' %}
{% load static %}
{% block title %}Canaux de vente  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Canaux-de-ventes.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Canaux de vente   </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i> Development</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Vision' %}"><i class="fa fa-home"></i>Strategie</a></li>
              <li class="breadcrumb-item active" aria-current="page">Canaux de vente  </li>>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>De multiples canaux axés sur l’innovation et la technologie…</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      

        <h1><p><b>
            À côté de la traditionnelle vente aux guichets dans les gares, assurée par des agents compétents et nombreux, 
            l’ONCF a déployé de nouveaux canaux de ventes en profitant des services innovants offerts par les avancées technologiques, 
            et ce dans l’objectif de l’amélioration de la satisfaction et l’expérience « Voyage » de nos clients :
          </b></p></h1>

          <p>> Des Distributeurs Automatiques de tickets (DAT) dans plus de 30 gares, parmi les plus fréquentées. Simples d’utilisation, avec leur interface en arabe 
            et en français, ces DAT acceptent les pièces de monnaie, les billets de banque et les cartes de débit, nationales et internationales et délivrent un reçu de paiement. Des agents ONCF se tiennent à disposition pour porter assistance en cas de besoin.</p>
          <p>> Un site marchand vous offrant la possibilité d’acheter (7j/7 et 24h/24) vos billets en ligne, en toute sécurité et en quelques simples clics. Grâce à l’E-ticket, imprimé ou mieux encore, 
            téléchargé sur un smartphone ou une tablette, plus besoin de valider en gares ; c’est nos contrôleurs à bord qui s’en chargeront.</p>
     
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Dsxt0242.png' %}" alt="">
                <img src="{% static 'website/img/bg_img/Dscf1293.png' %}" alt="">
            </div>
          </div>
        </div>  
        </div>
        </div>
      </div>
      
    </div>

    
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}