{% extends 'base.html' %}
{% load static %}
{% block title %}Carte 10’ZEN  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Carte-navette.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Carte 10’ZEN </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> Voyageurs</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Voyagez_meilleur_prix' %}"><i class="fa fa-home"></i> Produits</a></li>
              <li class="breadcrumb-item active" aria-current="page">Carte 10’ZEN </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
        <blockquote cite="" class="dento-blockquote d-flex">
            <div class="icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="text">
              <h5>J’ADOPTE LA 10’ZEN ATTITUDE ! </h5>
            </div>
            
          </blockquote>
        
      
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/A-zen-visuel_reference.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Ma carte 10’ZEN</h3>
              <div class="line"></div>
            </div>
            <p>La carte 10’ZEN est destinée aux navetteurs qui travaillent à distance, et aux voyageurs peu fréquent se déplaçant 1 à 2 fois par semaine. Elle contient un solde de 10 voyages valable durant 1 mois en 1ère ou en 2ème classe à bord des trains AL BORAQ ou TNR et Al ATLAS</p>
           

            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
           
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2></h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
        
      <center><h1><p><b>
        Mon économie 10’ZEN
      </b></p></h1></center>

    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Tarifs-10-zen_reference.png' %}" alt="">
                
              <div >
            
        </div>
            </div>
            <h1><p><b>
                Mon avantage 10’ZEN
              </b></p></h1>
              <p>> Une gestion personnalisée de mes déplacements. Je gère mes voyages à mon rythme</p>
              <p>> Une économie de 10% sur mon budget de déplacement</p>

              <h1><p><b>
                Mon mode d’utilisation 10’ZEN
              </b></p></h1>
              <p>> je me dirige vers le guichet de la gare la plus proche</p>
              <p>> je renseigne le formulaire d’inscription</p>
              <p>> Je fournis une pièce d’identité valide et une photo</p>
              <p>> Je paie ma carte selon le trajet choisi</p>
              <p>> Je récupère ma carte et je m’en sers à ma guise.</p>
          </div>
          
        </div>
      
       <center> <div class="single-skills-area mt-30">
        <a href="https://www.oncf.ma/fr/content/download/72272/1671668/version/1/file/Flyer%2010%20ZEN.pdf" class="btn dento-btn booking-btn">Flyer 10 ZEN </a>
        
      </div>
      <div class="line"></div></center>
        
      
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}