{% extends 'base.html' %}
{% load static %}
{% block title %}Carte Smart' Navette  {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Carte-navette.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Carte Smart' Navette  </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> Voyageurs</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Voyagez_meilleur_prix' %}"><i class="fa fa-home"></i> Produits</a></li>
              <li class="breadcrumb-item active" aria-current="page">Carte Smart' Navette  </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
        <blockquote cite="" class="dento-blockquote d-flex">
            <div class="icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="text">
              <h5>J’OPTE POUR LA FORMULE SMART’ NAVETTE !</h5>
            </div>
            
          </blockquote>
        
      
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Smart-navette_reference.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h3>Je navette en mode « SMART’ » toute l’année</h3>
              <div class="line"></div>
            </div>
            <p>Plutôt que d’acheter chaque mois un abonnement mensuel, j’opte pour la formule annuelle SMART ’NAVETTE et je paye ma carte sous forme de mensualité.</p>
            <div class="section-heading">
                <h3>Je navette a prix « SMART’ »</h3>
                <div class="line"></div>
              </div>
              <p>Non seulement je bénéficie du prix très attractif de la mensualité, mais la carte SMART’ NAVETTE m’offre une réduction supplémentaire sur un abonnement mensuel, 
                et, je vais bénéficier dès le premier mois d’une réduction de 20% par rapport à ma carte navette 1 mois, soit une économie allant à 50 % par rapport au plein tarif (sur la base de 5 allers/retours par semaine).</p>
            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
           
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2></h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
        
      <center><h1><p><b>
        SMART' NAVETTE
      </b></p></h1></center>

    <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
                <img src="{% static 'website/img/bg_img/Casqdpture.png' %}" alt="">
                
              <div >
            
        </div>
            </div>
            <h1><p><b>
                Je paye « SMART’ » par prélèvement bancaire
              </b></p></h1>
              <p>Plus besoin de me déplacer au guichet d’abonnement et de penser à confectionner ma carte d’abonnement tous les mois ! L’abonnement SMART’ est annuel et ne nécessite plus le passage au guichet d’abonnement.
                De plus, pour plus de facilité, le paiement de la carte SMART’ NAVETTE s’effectue par prélèvement bancaire mensuel.</p>
              <h1><p><b>
                Je profite d’un mois d’abonnement gratuit, en payant 11 mensualités au lieu de 12
              </b></p></h1>
              <p>En plus des économies que je réalise sur mon budget de déplacement, avec la carte SMART’ NAVETTE, Je navette 12 mois au prix de 11 mois et je profite d’un mois d’abonnement gratuit.
                Avec la carte SMART’NAVETTE, ma 12ème mensualité est offerte gracieusement pour plus d’avantages.</p>
              <h1><p><b>
                Mes avantages « SMART’ »
              </b></p></h1>
              <p>Toute une équipe pour vous : Pour toute demande relative à ma carte, une équipe est disponible sur smartnavette@oncf.ma ou au 2255, de 8h à 16h du lundi au vendredi. Cette même équipe est aussi joignable par courrier à l'adresse :</p>
              <p>CE QU’IL FAUT SAVOIR POUR S’ABONNER !</p>
              <p>Pour m’abonner, je remplis le formulaire d’adhésion et je signe l’autorisation de prélèvement bancaire en y joignant mon relevé d’identité bancaire (RIB). Le dossier de souscription doit être reçu avant le 15 du mois pour un début d’abonnement le 1er du mois suivant.</p>
          </div>
          
        </div>
      
       <center> <div class="single-skills-area mt-30">
        <a href="https://www.oncf.ma/fr/content/download/82898/1918602/version/1/file/D%C3%A9pliant-ONCF-SMART-NAVETTE-VF-3.pdf" class="btn dento-btn booking-btn">Dépliant-ONCF-SMART-NAVETTE-VF-3 </a>
        
      </div>
      <div class="line"></div></center>
        
      
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}