{% extends 'base.html' %}
{% load static %}
{% block title %}ONCF TRAFIC {% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/Oncf-trafic.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">ONCF TRAFIC   </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'AlBoraq' %}"><i class="fa fa-home"></i> Voyageurs</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Voyagez_meilleur_prix' %}"><i class="fa fa-home"></i> Produits</a></li>
              <li class="breadcrumb-item active" aria-current="page">ONCF TRAFIC </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  

  <!-- Cool Facts Area Start -->
  
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  
    
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
        
      
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/Oncf-trafic-page-int-vf.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <h3>Votre train en temps réel…</h3>
            <!-- Section Heading -->
            <p>
                L’ONCF met à votre disposition l’application mobile baptisée "ONCF TRAFIC", afin de vous informer en temps réel sur la situation du trafic. </p>
            <p>  S’inscrivant dans le cadre des efforts déployés par notre pays pour offrir aux citoyens des services électroniques innovants et modernes,
                 cette application téléchargeable gratuitement, sur App Store et Google Play en français, en arabe et en anglais, permet aux voyageurs d’avoir
                  en temps réel des informations utiles en vue de mieux planifier leurs déplacements par train, d’anticiper tout éventuel aléa pouvant 
                  avoir un impact sur leur voyage. </p>
            
            <!-- Single Skills Area -->

            <!-- Single Skills Area -->
           
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2></h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
        
     
    <div class="container">
        <div class="row">
          <!-- Section Heading -->
        
            </div>
            <h1><p><b>
                Grâce à une plateforme technique de gestion du trafic ferroviaire et un système de géolocalisation des trains par GPS, conjugués à de multiples fonctionnalités simples d'utilisation et efficace, l’application mobile « ONCF TRAFIC » offre aux voyageurs des services utiles dont on cite :
              </b></p></h1>
              <p>> La géolocalisation de la gare la plus proche au client, tout en proposant l’itinéraire à suivre pour s’y rendre</p>
              <p>> La consultation, en temps réel, des horaires des trains au départ et à l’arrivée au niveau de toutes les gares du réseau ferré national.</p>
              
              <p>> Des informations détaillées sur le voyage allant de l’itinéraire et gares desservies, en passant par les correspondances rail-rail et rail-route avec les autocars de la filiale Supratours, la distance et le temps de parcours, jusqu’au numéro de la voie en gare et l’emplacement de la voiture 1ère classe</p>
              <p>> L’achat de billets en ligne</p>
              <p>>Le contact direct avec le centre des relations Client ONCF.</p>
              <p>À noter que Lors de la 11ème édition du Prix National de l’Administration Electronique « Emtiaz 2017 » organisée à Rabat le mardi 26 Décembre 2017 par le Ministère de la Réforme de l’Administration et de la Fonction Publique (MRAFP) et présidée par Monsieur le Chef du Gouvernement, l’ONCF a remporté le prix d’excellence avec ladite application mise en ligne depuis Juin 2017.</p>
              <div class="single-skills-area mt-30">
                <a href="#" class="btn dento-btn booking-btn"> Télécharger le dépliant </a>
                
              </div>
          </div>
          
        </div>
      
        
      
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}